<div class="card">
  <%= link_to image_tag(get_1200px(blog.header_image), class: 'img-fill mw-radius', style: 'height: 240px;'), blog %>
  <small class="badge rounded-pill bg-white text-dark shadow-sm position-absolute" style="left:20px; top:20px">
    <%= blog.blog_categories.first %>
  </small>
</div>

<h4 title="<%= blog.title %>"><%= link_to(blog.title.truncate(58), blog) %></h4>

<small> <%= blog.created_at&.strftime("%B %d, %Y") %> </small>

<p class="mt-2"><%= blog.blurb.truncate(56) %></p>
