<div class="container my-5">

  <h1>Blog <%= @blogs.count %></h1>

  <%= link_to 'New Blog', new_blog_path %>

  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-6 border border-dark p-3 ">
        <p><%= link_to blog.title, blog %></p>
        <h4><%= blog.blurb %></h4>
        <p><%# blog.blog_category_id %></p>
        <div><%# blog.content.html_safe %></div>
        <p><%= blog.featured_video %></p>
        <%= image_tag blog.header_image %>
        <p><%= blog.medium_id %></p>
        <p><%= blog.slug %></p>
        <p><%= blog.sub_title %></p>
      </div>
    <% end %>
  </div>

</div>
