<%= title 'Blog' %>

<%= search_form_for @q, html: { style: 'max-width:700px;' } do |f| %>
  <div class="my-2">
    <%= f.select :blog_category_id_eq, BlogCategory.pluck(:name, :id), {include_blank: 'All Categories'} %>
  </div>
  <div class="input-group mb-3">
    <%= f.search_field :title_or_blurb_or_content_cont, class: 'form-control', placeholder: 'Search for a blog title / content' %>
    <div class="input-group-append">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<div class="my-4 d-flex justify-content-between align-items-center">
  <div>
    Showing <strong><%= @blogs.count %></strong> blogs
  </div>

  <%= paginate @blogs %>
</div>

<% if current_user&.is_admin? %>
  <%= link_to 'New Blog', new_blog_path, class: 'btn btn-primary my-3' %>
<% end %>

<div class="border-top border-left border-right border-dark">

  <% @blogs.each do |blog| %>
    <div class="row no-gutters border-bottom border-dark ">
      <div class="col-6 p-5">
        <p><%= link_to blog.title, blog %></p>
        <small> <%= blog.created_at&.strftime("%B %d, %Y") %> </small>
        <h4><%= blog.blurb %></h4>
        <p><%# blog.blog_category_id %></p>
        <div><%# blog.content.html_safe %></div>
        <p><%= blog.featured_video %></p>
        <%# blog.medium_id %>
        <p><%= blog.sub_title %></p>
      </div>
      <div class="col-6 text-center justify-content-center d-flex align-items-center <%= 'order-first' if blog.id % 2 == 0 %>">
        <%= link_to image_tag(blog.header_image), blog %>
      </div>
    </div>
  <% end %>
</div>

<div class="my-4">
  Showing <strong><%= @blogs.count %></strong> blogs
  <%= paginate @blogs %>
</div>
