<% if admin? && @blog.medium %>
  Higher quality Medium:
  <%= link_to 'Medium', medium_url(@blog.medium_id) %>
  <br></br>
<% end %>

<% if current_user&.is_admin? %>
  <%= link_to 'Edit', edit_blog_url, class: 'btn btn-primary mb-3' %>
<% end %>

<h4>
  <%= link_to "Blog", '/blog' %> /
  <% @blog.blog_tags.each do |bt| %>
    <%= link_to bt.blog_category, blogs_url("q[blog_categories_id_in]": bt.blog_category) %>
    /
  <% end %>
</h4>

<%= title @blog.title %>
<p> <%= @blog.sub_title %> </p>

<div class="">
  <%= image_tag(get_1200px(@blog.header_image), class: 'img-fluid') %>
</div>

<div class="row mt-4">
  <div class="col-lg-9">
    <%= @blog.content_action %>
  </div>
  <div class="col-lg-3">
    <small> <%= @blog.created_at&.strftime("%B %d, %Y") %> </small>
    <hr>

    <h4 class="mt-5">Categories</h4>
    <hr>
    <p> <%= @blog.blog_categories.to_sentence %> </p>

    <h4 class="mt-5">Related stories</h4>
    <hr>
    <% Blog
      .includes(:blog_categories, :blog_tags)
      .where(blog_categories: {id: @blog.blog_category_ids})
      .where.not(id: @blog.id)
      .limit(5)
      .uniq
      .each do |blog|
    %>
      <%= link_to blog.title, blog_url(blog), title: blog.blog_categories.to_sentence %>
      <hr>
    <% end %>
  </div>
</div>

<div class="mt-4 g-grey2">
  <h3>Latest stories</h3>
  <div class="row">
    <% @recent.each do |blog| %>
      <div class="col-md-3">
        <%= render partial: 'blog', locals: {blog: blog} %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to blogs_url do %>
  <svg width="3em" height="3em" viewBox="0 0 16 16" class="mt-4 bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
  </svg>
<% end %>
