<div class="container-xxl">

  <% if current_user&.is_admin? %>
    <div class="card-admin mt-4">
      <h6>Admin info</h6>

      <% if @blog.medium %>
        Higher quality Medium:
        <%= link_to 'Medium', medium_url(@blog.medium_id) %>
        <br></br>
      <% end %>

      <%= link_to 'Edit', edit_blog_url, class: 'btn btn-primary mt-3' %>
    </div>
  <% end %>

  <h4>
    <%= link_to "Blog", '/blog' %> /
    <% @blog.blog_tags.each do |bt| %>
      <%= link_to bt.blog_category, blogs_url("q[blog_categories_id_in]": bt.blog_category) %>
      /
    <% end %>
  </h4>

  <%= title @blog.title %>
  <p> <%= @blog.sub_title %> </p>

  <div class="mb-5">
    <%= image_tag(get_1200px(@blog.header_image), class: 'img-fill') %>
  </div>

  <div class="row mt-4">
    <div class="col-lg-8 pe-5">
      <%= @blog.content_action %>
    </div>
    <div class="col-lg-4">
      <% if @blog.user.present? %>
        <p class="fw-bold">WORDS</p>
        <%= @blog.user %>
        <hr>
      <% end %>

      <small> <%= @blog.created_at&.strftime("%B %d, %Y") %> </small>
      <hr>

      <h4 class="mt-5 fw-bold">Categories</h4>
      <hr>
      <p> <%= @blog.blog_categories.to_sentence %> </p>

      <h4 class="mt-5 fw-bold">Related stories</h4>
      <hr>
      <% Blog
        .includes(:blog_categories, :blog_tags)
        .where(blog_categories: {id: @blog.blog_category_ids})
        .where.not(id: @blog.id)
        .limit(5)
        .uniq
        .each do |blog|
      %>
    <%= link_to blog.title, blog_url(blog), title: blog.blog_categories.to_sentence, class: 'text-decoration-none' %>
    <hr>
  <% end %>
    </div>
  </div>
</div>

<div style="background-color: #eee">
  <div class="container-xxl pt-5">
    <h3 class="mb-4">Latest stories</h3>
    <div class="row">
      <% @recent.each do |blog| %>
        <div class="col-md-6 col-lg-3">
          <%= render partial: 'blog', locals: {blog: blog} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
