<div class="container my-5">

  <div class="row my-4">
    <div class="col-md-4">

      <strong>
        Featured video:
        <%= @blog.featured_video %>
      </strong>

      <strong>
        Medium:
        <%= @blog.medium_id %>
      </strong>

      <strong>
        Slug:
        <%= @blog.slug %>
      </strong>

      <div class="my-4">
        <%= link_to "Blog /", '/blog' %>
      </div>

      </p>
      <p> <%= @blog.created_at&.strftime("%B %d, %Y") %> </p>
    </div>

    <div class="col-md-8">
      <%= @blog.blog_category.name %>
      <h1> <%= @blog.title %> </h1>
      <p> <%= @blog.sub_title %> </p>
      <%= image_tag @blog.header_image %>

      <%= @blog.content.html_safe %>
    </div>

  </div>
</div>
