<div class="">

  <div class="alert alert-success mb-4" role="alert">
    <%= t('shared.reach_new_clients') %>
  </div>

  <div class="text-center">
    <%= title t('shared.sign_up') %>

    <%= render "devise/shared/providers" %>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <%= invisible_captcha %>
    <div class="form-inputs">
      <%= f.input :email,
        required: true,
        autofocus: true,
        input_html: { autocomplete: "email" }%>
      <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="">
      <%= button_tag(:submit, class: 'btn btn-blue w-100 my-3') do %>
        Get Started
        <i class="bi bi-arrow-right ps-3"></i>
      <% end %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
