<p id="notice"><%= notice %></p>

<p>
  <strong>M:</strong>
  <%= @industry_taxonomy.m_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @industry_taxonomy.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @industry_taxonomy.parent_id %>
</p>

<%= link_to 'Edit', edit_industry_taxonomy_path(@industry_taxonomy) %> |
<%= link_to 'Back', industry_taxonomies_path %>
