<% title @industry_taxonomy %>

<%= link_to "Industries", industry_taxonomies_url %>

<div class="border p-4 my-4">
  <p>
  <strong>Name:</strong>
  <%= @industry_taxonomy.name %>
  </p>

  <p>
  <strong>Parent:</strong>
  <%= @industry_taxonomy.parent_id %>
  </p>

  <% if current_user&.is_admin? %>
    <%= link_to 'Edit', edit_industry_taxonomy_path(@industry_taxonomy), class: 'btn btn-primary' %>
  <% end %>
</div>

<%= render @industry_taxonomy.companies %>
