<p id="notice"><%= notice %></p>

<p>
  <strong>M:</strong>
  <%= @manufacturer_taxonomy.m_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manufacturer_taxonomy.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @manufacturer_taxonomy.parent_id %>
</p>

<%= link_to 'Edit', edit_manufacturer_taxonomy_path(@manufacturer_taxonomy) %> |
<%= link_to 'Back', manufacturer_taxonomies_path %>

<hr>
<% @manufacturer_taxonomy.companies.each do |company| %>
  <%= link_to company.name, company_url(company) %>
<% end %>
