<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <div class="my-3">
      <%= f.input :locale, collection: locale_name_pairs, include_blank: false %>
    </div>
    <%= f.input :time_zone %>
    <p>
    Time now in this zone: <%= Time.now.in_time_zone(current_user.time_zone) %>
    </p>


    <% if current_user.is_admin? %>
      <%= f.input :is_admin %>
    <% end %>

    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, style: 'max-height:400px;' %>
    <% end %>
    <%= f.input :avatar %>
  </div>

  <div class="my-5">
    <%= f.button :submit %>
  </div>
<% end %>
