<%= title 'Editing User' %>

<%= render 'user_tabs' %>

<div class="card my-5 p-5">
  <%= render 'form', user: @user %>

  <hr>

  <%= render 'user_regions' %>

  <hr>

  <div class="text-end mt-5">
    <%= link_to t("devise.registrations.edit.cancel_my_account"),
      registration_path(current_user),
      method: :delete,
      data: { confirm: "You sure?" },
      class: 'btn btn-danger mb-5' %>
  </div>
</div>
