<h1>Users</h1>

<% if current_user.is_admin? %>
  <%= link_to "Invite user", new_user_invitation_url, class:"btn btn-primary" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th><%= t('user.first_name') %></th>
      <th><%= t('user.last_name') %></th>
      <th><%= t('shared.slug') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to(user) do %>
            <% if user.avatar.attached?  %>
              <%= image_tag(user.avatar, class: 'avatar-small')%>
            <% else %>
              <%= image_tag('favicon.png', class: 'avatar-small') %>
            <% end %>
          <% end %>
        </td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= link_to((user.slug || 'slug missing'), user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
