<div class="mw-border-50 my-5 p-5">
  <div class="justify-content-between d-flex">
    <div class="">
      <%= title @user %>

      <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
      </p>

      <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
      </p>

      <% if current_user == @user %>
        <p>
        <strong>Email:</strong>
        <%= @user.email %>
        </p>

        <p>
        <strong>Language:</strong>
        <%= @user.locale %>
        </p>

        <p>
        <strong>Time zone:</strong>
        <%= @user.time_zone %>
        </p>
      <% end %>

      <p>
      <strong>Biography:</strong>
      <%= @user.bio %>
      </p>

    </div>
    <div class="">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, style: 'max-height:200px;' %>
      <% end %>
    </div>
  </div>

  <% if @user == current_user %>
    <%= link_to "Edit", edit_profile_url(current_user), class: 'btn btn-primary' %>
  <% end %>
  <hr>

  <%= render 'user_regions' %>

  <%= render 'user_companies' %>

  <% if current_user == @user %>
    <%= link_to t("devise.registrations.edit.cancel_my_account"), registration_path(current_user), data: { confirm: t("devise.registrations.edit.are_you_sure") }, method: :delete, class: 'text-danger my-3' %>
  <% end %>
</div>
