<div class="mw-border-50 my-5 p-5">
  <div class="justify-content-between d-flex">
    <div class="">
      <%= title @user %>
      <p>
      <strong>Email:</strong>
      <%= @user.email %>
      </p>

      <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
      </p>

      <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
      </p>
      <p>
      <strong>Locale:</strong>
      <%= @user.locale %>
      </p>
    </div>
    <div class="">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, style: 'max-height:200px;' %>
      <% end %>
    </div>
  </div>

  <% if @user == current_user %>
    <%= link_to "Edit", edit_profile_url(current_user), class: 'btn btn-primary' %>
  <% end %>
  <hr>
  <h4>Is in regions:</h4>

  <%= render 'user_regions' %>
</div>
