<%= title t("shared.user_settings") %>

<%= render 'user_tabs' if current_user == @user %>

<div class="card my-5 p-5 mw-900">
  <div class="justify-content-between d-flex">
    <div class="">
      <% if @user == current_user %>
        <%= link_to "Edit", edit_profile_url(current_user), class: 'btn btn-primary mb-3' %>
      <% end %>

      <div class="">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, style: 'max-height:200px;', class: 'my-4 avatar-large shadow' %>
        <% end %>
      </div>

      <p>
      <strong><%= t("user.first_name") %>:</strong>
      <%= @user.first_name %>
      </p>

      <p>
      <strong><%= t("user.last_name") %>:</strong>
      <%= @user.last_name %>
      </p>

      <% if current_user == @user %>
        <p>
        <strong><%= t("shared.email") %>:</strong>
        <%= @user.email %>
        </p>

        <p>
        <strong><%= t("activerecord.attributes.user.locale") %>:</strong>
        <%= @user.locale %>
        </p>

        <p>
        <strong><%= t("shared.timezone") %>:</strong>
        <%= @user.time_zone %>
        </p>
      <% end %>

      <p>
      <strong><%= t("user.biography") %>:</strong>
      <%= @user.bio %>
      </p>
    </div>

  </div>

  <hr>

  <%= render 'user_regions' %>

  <%= render 'user_companies' %>
</div>
