<% content_for(:title, t('shared.tagline')) %>
<div class="container my-5">

  <div>
    <div class="text-center mb-5">
      <h1 class="display-1 font-weight-bold">MAKE WORKS</h1>
      <h4><%= t('shared.a_global_library') %></h4>
    </div>
  </div>

  <div class="my-3 text-center">
    <%= link_to t("shared.processes"), process_taxonomies_url, class: 'btn btn-yellow mr-2' %>
    <%= link_to t("shared.materials"), materials_taxonomies_url, class: 'btn btn-yellow mr-2' %>
    <%= link_to t("shared.industries"), industry_taxonomies_url, class: 'btn btn-yellow mr-2' %>
    <%= link_to t("shared.machines"), machines_taxonomies_url, class: 'btn btn-yellow mr-2' %>
  </div>

  <h4 class="mt-5">
    Make Works want’s to connect people wanting
    to make with people who make. We aim for free and accessible fabrication for artists, designers and makers.
  </h4>

  <p>
    Find out how Make Works was created and transformed
    <u><%= link_to "here", about_url, class: 'text-decoration-underline' %></u>
  </p>


  <%= render 'one_blog' %>

  <div class="my-5">
    <p>Make Works consists of <i>seven regions</i> each lead by a community champions in collaboration with local partners. We believe in distributed teams and collaborative governance. </p>
    <%= render partial: 'region_map', locals: { locations: Region.with_lat_lng} %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Make Works partners with individuals and organisations across the UK and beyond who want to run their own open-access directory of manufacturing for their local area.Our partners aren't just people using our platform - they are fellow manufacturing geeks who are passionate about local manufacturing.More recently, in 2019, Make Works has been transferred to the Institute for Advanced Architecture of Catalonia (IAAC), Fab City Research Lab Barcelona, and sits within Fab City’s Distributed Design platform, funded by Creative Europe.</p>
    </div>
    <div class="col-md-6">
      <h4>You want to know more?</h4>
      <p class="my-4">Check out our regions to find out about new listings, latest news, local partners and events.</p>
      <div class="dropdown">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownRegions2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Regions list
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownRegions2">
          <% @public_regions.each do |region| %>
            <%= link_to region.name, region, class: 'dropdown-item' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
