<div class="container my-5 border border-dark">

  <div class="p-4">
    <div class="text-center mt-5">
      <h1><%= t('shared.tagline') %></h1>
      <h4 class="my-5">
        Use Make Works to source local fabricators, material suppliers & workshop facilities.
      </h4>
    </div>

    <div class="mt-3 d-flex flex-wrap justify-content-between">
      <% @all_regions.each do |region| %>
        <%= link_to region.name, region, class: 'btn btn-outline-primary mb-4 mx-auto mx-md-0', style: 'width: 260px' %>
      <% end %>
    </div>

    <div class="my-5 text-center">
      <h5 class="my-3">
        <strong>An open library for sourcing local manufacturing and materials</strong>
      </h5>
      <h4>Make Works started because we want to make fabrication more accessible for artists, designers and makers.</h4>
    </div>
  </div>

  <div class="row border-top border-dark">
    <%= render partial: 'map', locals: { locations: Company.companies_with_lat_lng} %>
  </div>

  <%= render 'how_it_works' %>

  <%= render 'one_blog' %>

  <%= render 'about' %>

  <%= render 'social' %>

  <%= render 'footer' %>

</div>
