<% content_for(:title, t('shared.tagline')) %>
<div class="container my-5">

  <div>
    <div class="text-center mb-5">
      <h1 class="display-3 font-weight-bold">MAKE WORKS</h1>
      <h4><%= t('shared.a_global_library') %></h4>
    </div>

    <div class="mt-3 d-flex flex-wrap justify-content-between">
      <% @all_regions.each do |region| %>
        <%= link_to region.name, region, class: 'btn btn-outline-primary mb-4 mx-auto mx-md-0', style: 'width: 260px' %>
      <% end %>
    </div>
  </div>

  <div class="my-3 text-center">
    <%= link_to "Processes", process_taxonomies_url, class: 'btn btn-outline-primary mr-2' %>
    <%= link_to "Materials", materials_taxonomies_url, class: 'btn btn-outline-primary mr-2' %>
    <%= link_to "Industries", industry_taxonomies_url, class: 'btn btn-outline-primary mr-2' %>
  </div>

  <%= render 'one_blog' %>

  <div class="row">
    <%= render partial: 'map', locals: { locations: Company.companies_with_lat_lng} %>
  </div>

  <%# render 'how_it_works' %>

  <%# render 'about' %>

  <%# render 'social' %>

  <%= render 'footer' %>

</div>
