<% content_for(:title, t('shared.tagline')) %>

<section class="p-5 imageback">
  <div class="p-5 m-5 mb-0">
    <h1 class="text-center mx-auto" style="max-width:700px;">
      Find local and sustainable
      fabricators, material suppliers
      and workshop facilities
    </h1>
  </div>

    <form class="mx-auto" action="/companies">
      <div class="input-group mx-auto" style="max-width:600px;">
        <input
          class="form-control"
          name="q[name_or_description_or_intro_or_background_cont]"
          type="search"
          placeholder="Search companies.."
          aria-label="Search"
          style="border-bottom-left-radius: 20px; border-top-left-radius: 20px"
          >
        <button class="btn btn-blue input-group-append" type="submit">Go</button>
      </div>
    </form>

</section>

<section class="bg-grey3 p-5 text-center">
  <div class="container">
    <h2 class="mb-5">How does it work?</h2>

    <div class="row">
      <div class="col-md-4">
        <img src="https://s3-eu-west-1.amazonaws.com/static.makeworks.co.uk/othermedia/illustrations/Toby_Triumph/300415MakeWorks_Toby_Triumpg_SinglesToby_Triumph1.jpeg" class="img-fluid" alt="Make Works illustrations"/>
        <h3>Explore</h3>
        <p>Explore the processes, materials and machinery you need to fabricate work</p>
      </div>
      <div class="col-md-4">
        <img src="https://s3-eu-west-1.amazonaws.com/static.makeworks.co.uk/othermedia/illustrations/Toby_Triumph/300415MakeWorks_Toby_Triumpg_SinglesToby_Triumph3.jpeg" class="img-fluid" alt="Make Works illustrations"/>
        <h3>Connect</h3>
        <p>In-depth information so you can find the right manufacturer to work with</p>
      </div>
      <div class="col-md-4">
        <img src="https://s3-eu-west-1.amazonaws.com/static.makeworks.co.uk/othermedia/illustrations/Toby_Triumph/300415MakeWorks_Toby_Triumpg_SinglesToby_Triumph2.jpeg" class="img-fluid" alt="Make Works illustrations"/>
        <h3>Produce</h3>
        <p>Get in touch with manufacturers directly and start making work</p>
      </div>
    </div>
  </div>
</section>


<section class="py-5 my-5">
  <div class="container">

    <div class="card mb-5">
      <section class="row g-0">
        <article class="col-12 col-lg-6">
          <%= image_tag('DDMP_plasticforgood_7.jpg', alt: 'Plastic for good', class: 'img-fill rounded-start') %>
        </article>
        <article class="col-12 col-lg-6">
          <div class="p-5">
            <h2 class="mb-4">Join Make.Works today!</h2>
            <p class="fs-5"><i class="bi bi-check me-2"></i>Find new clients to grow your business</p>
            <p class="fs-5"><i class="bi bi-check me-2"></i>Source effectively and produce sustainably</p>
            <p class="fs-5"><i class="bi bi-check me-2"></i>Prototype your business idea</p>
            <p class="fs-5"><i class="bi bi-check me-2"></i>Connect with like-minded individuals</p>
            <%= link_to "Create your account", new_user_registration_url, class: 'btn btn-blue mt-4' %>
          </div>
        </article>
      </section>
    </div>
  </div>
</section>

<section class="bg-grey3 p-5">
  <div class="container">
    <h2 class="mt-5">Need inspiration?</h2>
    <p>Explore popular search terms from the community</p>

    <div>
      <%= link_to "Vegan", '#', class: 'btn btn-outline-dark' %>
      <%= link_to "Ceramics", "/companies?q%5Bname_or_description_cont%5D=&q%5Bcountry_code_eq%5D=&q%5Bregions_id_in%5D%5B%5D=&q%5Bindustry_taxonomies_id_in%5D%5B%5D=&q%5Bindustry_taxonomies_id_in%5D%5B%5D=13&q%5Bmaterials_id_in%5D%5B%5D=&q%5Bmachines_taxonomies_id_in%5D%5B%5D=&commit=Search", class: 'btn btn-outline-dark' %>
    </div>
  </div>
</section>

<section class="bg-green p-5">
  <div class="container">
    <h2 class="mt-5">About Make Works</h2>
    <p>
    Make Works are making manufacturing accessible. Think of it like a public library.
    An open resource made by dedicated factory finders where you can discover skilled
    manufacturers, tools and materials to make work with in your area.
    </p>

    <%= link_to  about_url, class: 'btn btn-dark mb-5' do %>
      Read more
      <i class="bi bi-arrow-right ms-4"></i>
    <% end %>
  </div>
</section>

<!--
  <div class="my-4 d-flex justify-content-between align-items-end">
  <%= link_to t("shared.processes"), process_taxonomies_url,   class: 'btn btn-yellow mx-3' %>
  <%= link_to t("shared.materials"), materials_url, class: 'btn btn-yellow mx-3' %>
  <%= link_to t("shared.industries"), industry_taxonomies_url, class: 'btn btn-yellow mx-3' %>
  </div>
  <div class="mb-5 d-flex justify-content-between align-items-end">
  <%= link_to t("shared.machines"), machines_taxonomies_url, class: 'btn btn-yellow mx-3' %>
  <%= link_to t("shared.manufacturers"), manufacturer_taxonomies_url, class: 'btn btn-yellow mx-3' %>
  <%= link_to t("shared.finished_products"), finished_products_taxonomies_url, class: 'btn btn-yellow mx-3' %>
  </div>
-->

<%# render 'one_blog' %>
