<h1>Find manufacturers</h1>
<p>
Use Make Works to source local fabricators, material suppliers & workshop facilities.
</p>

<%= link_to "Regions", countries_url %>
<%= link_to "Companies", companies_url %>


<hr>

<h4 class="text-center">5 random companies</h4>
<hr>
<% @random_companies.each do |c|  %>
  <%= image_tag(c.portrait) if c.portrait %>
  <h4><%= c.name %></h4>
  <%= image_tag(c.photo1) if c.photo1 %>
  <%= image_tag(c.photo2) if c.photo2 %>
  <%= image_tag(c.photo3) if c.photo3 %>
  <%= image_tag(c.photo4) if c.photo4 %>
  <%= image_tag(c.photo5) if c.photo5 %>
  <%= image_tag(c.photo6) if c.photo6 %>
  <%= image_tag(c.photo7) if c.photo7 %>
  <%= image_tag(c.photo8) if c.photo8 %>
  <%= image_tag(c.photo8) if c.photo8 %>
  <%= image_tag(c.photo9) if c.photo9 %>
  <hr>
<% end %>
