<% content_for(:title, t('shared.tagline')) %>

<section class="p-5 landingheader">
  <div class="p-md-5 mt-5">
    <h1 class="text-center mx-auto" style="max-width:800px;">
      Find local and sustainable
      fabricators, material suppliers
      and workshop facilities
    </h1>
  </div>

  <form class="mx-auto mb-5 pb-5" action="/companies">
    <div class="input-group mx-auto" style="max-width:600px;">
      <input
        class="form-control"
        name="q[name_or_description_or_intro_or_background_cont]"
        type="search"
        placeholder="Search more materials, processes or tools"
        aria-label="Search"
        style="border-bottom-left-radius: 30px; border-top-left-radius: 30px; height: 60px;"
        >
        <button
          class="btn btn-blue input-group-append"
          type="submit"
          style="border-bottom-right-radius: 30px; border-top-right-radius: 30px"
          >
          Go
        </button>
    </div>
  </form>
</section>

<section class="bg-grey3 p-5 text-center">
  <div class="container">
    <h2 class="mb-0">How does it work?</h2>

    <div class="row">
      <div class="col-md-4">
        <img src="<%= image_url('browse.png') %>" class="img-fluid w-75" alt="Make Works illustrations"/>

        <h3>Explore</h3>
        <p>Explore the processes, materials and machinery you need to fabricate work</p>
      </div>
      <div class="col-md-4">
        <img src="<%= image_url('match.png') %>" class="img-fluid w-75" alt="Make Works illustrations"/>
        <h3>Connect</h3>
        <p>In-depth information so you can find the right manufacturer to work with</p>
      </div>
      <div class="col-md-4">
        <img src="<%= image_url('contact.png') %>" class="img-fluid w-75" alt="Make Works illustrations"/>
        <h3>Produce</h3>
        <p>Get in touch with manufacturers directly and start making work</p>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2>Find the right manufacturer</h2>
    <div class="row my-4">

      <article class="col-md-4">
        <div class="card bg-dark text-white">
          <%= image_tag('https://static.make.works/company/FluxLaser_2/1200px/110814MakeWorks_FluxLaser_EoinCarey_8.jpg', alt: 'Plastic for good', class: 'card-img img-fill', style: 'border-radius: inherit; height: 350px; opacity: 0.7;')%>
          <div class="card-img-overlay p-4">
            <h3 class="fw-bold">Innovative production</h3>
            <p>Making products at scale with high capacity fabricators and material suppliers</p>

            <%= link_to "/companies?q%5Bcharacter_tags_id_in%5D%5B%5D=5&commit=Search",
              class: 'btn bg-white position-absolute',
              style: 'bottom: 20px;' do %>
              Explore
              <i class="bi bi-arrow-right"></i>
            <% end %>
          </div>
        </div>
      </article>

      <article class="col-md-8">
        <div class="card bg-dark text-white">
          <%= image_tag('https://static.make.works/company/KnockcandoMill/1200px/120215_KnockcandoMill_3.jpg', alt: 'Plastic for good', class: 'card-img img-fill', style: 'border-radius: inherit; height: 350px; opacity: 0.7;')%>
          <div class="card-img-overlay p-4">
            <h3 class="fw-bold">Made circular</h3>
            <p>Working with manufacturers which use sustainable materials, up-cycle or produce zero waste</p>

            <%= link_to "/companies?q%5Bcharacter_tags_id_in%5D%5B%5D=2&commit=Search",
              class: 'btn bg-white position-absolute',
              style: 'bottom: 20px;' do %>
              Explore
              <i class="bi bi-arrow-right"></i>
            <% end %>
          </div>
        </div>
      </article>

      <article class="col-md-8">
        <div class="card bg-dark text-white">
          <%= image_tag('https://static.make.works/company/SkyeKnives/1200px/2013-08-12_MakeWorks_SkyeKnifes_StudioRoRo_1798.jpg', alt: 'Plastic for good', class: 'card-img img-fill', style: 'border-radius: inherit; height: 350px;')%>
          <div class="card-img-overlay p-4">
            <h3 class="fw-bold">One of a kind</h3>
            <p>Creating bespoke items and small batches for customised production</p>

            <%= link_to "/companies?q%5Bcharacter_tags_id_in%5D%5B%5D=4&commit=Search",
              class: 'btn bg-white position-absolute',
              style: 'bottom: 20px;' do %>
              Explore
              <i class="bi bi-arrow-right"></i>
            <% end %>
          </div>
        </div>
      </article>

      <article class="col-md-4">
        <div class="card bg-dark text-white">
          <%= image_tag('https://static.make.works/company/al_fakher_pottery/1200px/2017_10_01_MakeWorks_al_fakher_pottery_Sami_Sasso_091013004848.jpg', alt: 'Plastic for good', class: 'card-img img-fill', style: 'border-radius: inherit; height: 350px; opacity: 0.7;')%>
          <div class="card-img-overlay p-4">
            <h3 class="fw-bold">Ancient techniques</h3>
            <p>Support artisans and keeping ancient crafts alive</p>

            <%= link_to "/companies?q%5Bcharacter_tags_id_in%5D%5B%5D=3&commit=Search",
              class: 'btn bg-white position-absolute',
              style: 'bottom: 20px;' do %>
              Explore
              <i class="bi bi-arrow-right"></i>
            <% end %>
          </div>
        </div>
      </article>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2>Roulette</h2>
    <div class="row">
      <%= render @companies %>
    </div>
  </div>
</section>

<% if current_user %>

<% else %>
<section class="py-5 my-5">
  <div class="container">

    <div class="card mb-5">
      <section class="row g-0">
        <article class="col-12 col-lg-6">
          <%= image_tag('DDMP_plasticforgood_7.jpg', alt: 'Plastic for good', class: 'img-fill rounded-start') %>
        </article>
        <article class="col-12 col-lg-6">
          <div class="p-5">
            <h2 class="mb-4">Join Make Works today!</h2>
            <p class="fs-5"><i class="bi bi-check me-2"></i>Find new clients to grow your business</p>
            <p class="fs-5"><i class="bi bi-check me-2"></i>Source effectively and produce sustainably</p>
            <p class="fs-5"><i class="bi bi-check me-2"></i>Prototype your business idea</p>
            <p class="fs-5"><i class="bi bi-check me-2"></i>Connect with like-minded individuals</p>
            <%= link_to  new_user_registration_url, class: 'btn btn-blue mt-4' do %>
              Create your account
              <i class="bi bi-arrow-right"></i>
            <% end %>
          </div>
        </article>
      </section>
    </div>
  </div>
</section>
<% end %>

<section class="bg-grey3 p-5">
  <div class="container">
    <h2 class="mt-5">Need inspiration?</h2>
    <p>Explore popular search terms from the community</p>

    <div>
      <% CharacterTag.promoted.each do |tag|  %>
        <%= link_to tag, "/companies?q%5Bname_or_description_cont%5D=&q%5Bcharacter_tags_id_in%5D%5B%5D=#{tag.id}&commit=Search", class: 'btn btn-outline-dark' %>
      <% end %>
    </div>
  </div>
</section>

<section class="container my-5">
  <h2>Make Works regions</h2>
  <%= render partial: 'region_map', locals: { locations: @public_regions.with_lat_lng} %>
</section>

<section class="bg-green p-5">
  <div class="container">
    <h2 class="mt-5">About Make Works</h2>
    <p>
    Make Works are making manufacturing accessible. Think of it like a public library.
    An open resource made by dedicated factory finders where you can discover skilled
    manufacturers, tools and materials to make work with in your area.
    </p>

    <%= link_to  about_url, class: 'btn btn-dark mb-5' do %>
      Read more
      <i class="bi bi-arrow-right ms-4"></i>
    <% end %>
  </div>
</section>

<!--
  <div class="my-4 d-flex justify-content-between align-items-end">
  <%= link_to t("shared.processes"), process_taxonomies_url,   class: 'btn btn-yellow mx-3' %>
  <%= link_to t("shared.materials"), materials_url, class: 'btn btn-yellow mx-3' %>
  <%= link_to t("shared.industries"), industry_taxonomies_url, class: 'btn btn-yellow mx-3' %>
  </div>
  <div class="mb-5 d-flex justify-content-between align-items-end">
  <%= link_to t("shared.machines"), machines_taxonomies_url, class: 'btn btn-yellow mx-3' %>
  <%= link_to t("shared.manufacturers"), manufacturer_taxonomies_url, class: 'btn btn-yellow mx-3' %>
  <%= link_to t("shared.finished_products"), finished_products_taxonomies_url, class: 'btn btn-yellow mx-3' %>
  </div>
-->

<%# render 'one_blog' %>
