<div class="container mt-5 border border-dark">
  <div class="text-center mt-5">
    <h1>Find local manufacturers in your region</h1>
    <h4 class="my-5">
      Use Make Works to source local fabricators, material suppliers & workshop facilities.
    </h4>
  </div>

  <p>Search for process or material ...</p>

  <% @all_regions.each do |region| %>
    <%= link_to region.name, region, class: 'btn btn-outline-primary m-1' %>
  <% end %>

  <div class="my-5 text-center">
    <h5 class="my-3">
      <strong>An open library for sourcing local manufacturing and materials</strong>
    </h5>
    <h4>Make Works started because we want to make fabrication more accessible for artists, designers and makers.</h4>
  </div>

  <%= render 'map' %>

  <%= render 'how_it_works' %>

  <%= render 'about' %>

  <%= render 'social' %>

  <%= render 'footer' %>

</div>
