<div class="text-center">
  <%= title 'Statistics' %>
</div>

<h2 class="mt-4">Users <%= User.count %></h2>

<%= line_chart User.group_by_month(:created_at).count %>

<h2 class="mt-4">Manufacturers <%= Company.count %></h2>

<%= line_chart Company.group_by_month(:created_at).count %>

<h2 class="mt-4">Manufacturers per region</h2>

<%= pie_chart CompanyOrganization.joins(:region).group("regions.name").count %>


<table class="table mt-5">
  <thead>
    <tr>
      <th>Tags</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Processes</td>
      <td><%= CompanyProcess.count %></td>
    </tr>
    <tr>
      <td>Finished Products</td>
      <td><%= FinishedProduct.count %></td>
    </tr>
    <tr>
      <td>Industries</td>
      <td><%= IndustryTaxonomy.count %></td>
    </tr>
    <tr>
      <td>Machines</td>
      <td><%= MachinesTaxonomy.count %></td>
    </tr>
    <tr>
      <td>Manufacturer</td>
      <td><%= ManufacturerTaxonomy.count %></td>
    </tr>
    <tr>
      <td>Material</td>
      <td><%= Material.count %></td>
    </tr>
  </tbody>
</table>
