<% content_for(:title, @process_taxonomy) %>

<div class="container my-4">
  <div class="my-4">
    <%= link_to "Processes", process_taxonomies_path %>
  </div>

  <div class="border p-4 my-4">
    <p>
    <strong>Name:</strong>
    <%= @process_taxonomy.name %>
    </p>

    <p>
    <strong>Parent:</strong>
    <%= @process_taxonomy.parent_id %>
    </p>

    <%= link_to 'Edit', edit_process_taxonomy_path(@process_taxonomy), class: 'btn btn-primary' %>
  </div>


  <%= render @process_taxonomy.companies %>

</div>
