<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-actions my-2">
    <%= f.button :submit %>
  </div>

  <div class="form-inputs">
    <%= f.association :region %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :website %>
    <hr>
    <%= f.input :lat %>
    <%= f.input :lng %>
    <%= f.input :location %>
    <hr>
    <%= f.input :year_founded %>
    <%= f.input :background %>
    <%= f.input :description %>
    <%= f.input :intro %>
    <hr>
    <%= f.input :file_types %>
    <%= f.input :large_run %>
    <%= f.input :medium_run %>
    <%= f.input :minimum_order %>
    <%= f.input :number_of_staff %>
    <hr>
    <%= f.input :sample_production %>
    <%= f.input :short_run %>
    <%= f.input :soft_delete %>
    <%= f.input :film_ready %>
    <hr>
    <%= f.input :photo1 %>
    <%= f.input :photo2 %>
    <%= f.input :photo3 %>
    <%= f.input :photo4 %>
    <%= f.input :photo5 %>
    <%= f.input :photo6 %>
    <%= f.input :photo7 %>
    <%= f.input :photo8 %>
    <%= f.input :photo9 %>
    <%= f.input :portrait %>
    <%= f.input :top_image %>
    <%= f.input :video_link %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
