<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if current_user.is_admin? %>
      <div class="card-admin my-3">
        <h5>Admin only</h5>
        <%= f.input :is_verified %>
        <%= f.input :been_visited %>
        <%= f.input :film_ready %>
        <%= f.input :soft_delete %>
        <p>
        Created by: <%= @company.user %>
        </p>
        <p>
        Created on: <%= @company.created_at %>
        </p>

      </div>
    <% end %>

    <%= f.input :name, required: true %>
    <%= f.input :slug %>
    <%# f.input :title %>

    <% if params[:region_id].present? %>
      <%= f.association :regions, selected: (params[:region_id]), input_html: { 'data-controller': 'select2' } %>
    <% else %>
      <%= f.association :regions, prompt: 'Select a region', input_html: { 'data-controller': 'select2' } %>
    <% end %>

    <%= f.input :country_code, input_html: { 'data-controller': 'select2' } %>
    <%= f.input :location %>
    <%= f.input :address %>

    <div class="row my-3">
      <div class="col-md-8">
        <% if @company.lat.present? && @company.lng.present? %>
          <%= render partial: 'map', locals: { locations: [@company]} %>
        <% else %>
          <div class="text-center mt-5">
            <small class="mt-4">A map should appear here after saving location / address</small>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= f.input :lat, disabled: true %>
        <%= f.input :lng, disabled: true %>
        <small>Latitude and longitude are automatically calculated on save</small>
      </div>
    </div>

    <hr>
    <%= f.association :manufacturer_taxonomies, input_html: { 'data-controller': 'select2' } %>
    <%= f.input :intro %>
    <%= f.input :description %>
    <%= f.input :background %>
    <%= f.input :production_specifics %>
    <%= f.input :year_founded %>
    <%= f.input :number_of_staff %>
    <%= f.input :website %>

    <hr>
    <div class="my-5">
      <h3>
        <i class="bi bi-people-fill"></i>
        <%= t('shared.employees') %>
        <span
          class="text-muted ms-1"
          data-bs-container="body"
          data-bs-toggle="popover"
          data-bs-trigger="hover"
          data-bs-placement="right"
          data-bs-content="<%= t('shared.info_roles') %>"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
        </span>
      </h3>

      <% if current_user.is_admin? %>
        <!-- Only admins should be allowed to see all users emails -->
        <%# f.association :users, label: false, label_method: :name_and_email, input_html: { 'data-controller': 'select2' } %>
      <% end %>

      <%= f.association :users, label: false, input_html: { 'data-controller': 'select2-user' } %>

      <table class="table border-top">
        <tbody
          data-controller="drag"
          data-drag-url="<%= move_employee_company_url(@company&.id) if @company.persisted? %>"
          >
        <% @company.employees.order(position: :asc).each do |e| %>
          <tr
            data-controller='employee'
            data-employee-url="<%= edit_employee_company_url(@company.id) %>"
            data-employee-userid-value="<%= e.user.id %>"
            >
            <td title="Drag to reorder employees">
              <div class="d-flex">
                <i class="bi bi-grip-vertical handle align-self-center" style="font-size: 1.5rem;"></i>
                <% if e.user.avatar.attached?  %>
                  <%= image_tag(e.user.avatar, class: 'avatar-medium') %>
                <% else %>
                  <%= image_tag('favicon.png', class: 'avatar-medium') %>
                <% end %>
              </div>
            </td>
            <td style="vertical-align:middle" title="Invited at: <%= e.created_at %>">
              <%= e.user %>
            </td>
            <td title="Employee title">
              <input
                class="form-control"
                type="text"
                value="<%= e.title %>"
                data-employee-target="title"
                data-action='change->employee#updateRole',
                />
            </td>
            <td title="Employee role">
              <%= select(
                :user,
                :role,
                options_for_select(
                  Employee.roles.keys.map { |p| [p.humanize, p] },
                  e.role
                ),
                {},
                {
                  class: 'form-control',
                  'data-action': 'change->employee#updateRole',
                  'data-employee-target': 'role'
                }
              ) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>


    <h3>
      <i class="bi bi-images"></i>
      Media
    </h3>

    <%= f.input :video_link %>

    <% if current_user&.is_admin? ||
        current_user&.is_champion_in_region(@company.region_ids) %>
      <div class="card-admin my-4">
        <h5>Admin only</h5>
        <small>
          <p>In the old system, there was a maximum of 9 images in the slider. Each image had it's own URL field in this form.</p>
          <p>Now, in this new system, there can be unlimited images, and all images are uploaded in the file picker below.</p>
          <p>This system uses the 'new way slider' if it has any images. If not it uses the 'old way'.</p>
        </small>
        <p>The <strong>New way</strong> of adding images:</p>
        <div class="my-3">
          <%= f.input :slider_images, as: :file, input_html: { multiple: true, class: 'form-control' } %>

          <% if @company.slider_images.attached? %>
            <div class="row">
              <% @company.slider_images.includes(:blob).each_with_index do |img, index| %>
                <div class="col-auto">
                  <%= image_tag(img, class: 'd-block border', style: 'max-width: 100px') %>
                  <%= link_to "Remove", delete_image_attachment_company_url(img.id),
                     class: 'd-block my-1 text-danger', method: :delete, remote: true,
                     data: { confirm: 'Are you sure you want to remove this image?' } %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <hr>
        <p>TODO:</p>
        <ul>
          <li>SKIP - profile_image? Only 1 image? (old name: 'Top_Image') used where?</li>
          <li>contact_person_image? Only 1 image? (old name: 'Portrait') picture of the contact person</li>
        </ul>

        Limits:
        <ul>
          <li>Should all users be able to upload as many images as possible?</li>
          <li>What if a bot / random user signs up and uploads 500 pictures?</li>
          <li>Only Verified can upload images?</li>
        </ul>

        <p>Below is the 'OLD way' of adding images.</p>
        <ul>
          <li>It Uploaded images to Amazon S3 via plugin? (how / where)?</li>
          <li>Each image has a column in the database.</li>
          <li>There was a limit of 9 images. (To add more we have to create a new database column)</li>
          <li>Ideally we should MERGE the 'old' way into the 'new' way</li>
          <li>The old way took 1 image 'original' and created multiple sizes, 1200px, 940px etc</li>
          <li>Then a front end script was used to replace the URL, changing /1200px/ to /940px/ when needed.</li>
        </ul>

        <h4>Profile image (old way)</h4>
        <%# f.input :image_bucket %>
        <%= f.input :top_image %>
        <%= f.input :portrait %>

        <h4>Slider images (old way)</h4>
        <p>These images will only be used in a slider if the 'new way' above has no images.</p>

        <%= f.input :photo1 %>
        <%= f.input :photo2 %>
        <%= f.input :photo3 %>
        <%= f.input :photo4 %>
        <%= f.input :photo5 %>
        <%= f.input :photo6 %>
        <%= f.input :photo7 %>
        <%= f.input :photo8 %>
        <%= f.input :photo9 %>
      </div>
    <% end %>


    <h4>
      <i class="bi bi-tags"></i>
      Tags
    </h4>
    <%= f.association :machines_taxonomies, input_html: { 'data-controller': 'select2' } %>
    <%= f.association :materials, input_html: { 'data-controller': 'select2' } %>
    <%= f.association :industry_taxonomies, input_html: { 'data-controller': 'select2' } %>
    <%= f.association :process_taxonomies, input_html: { 'data-controller': 'select2' } %>
    <%= f.association :finished_products_taxonomies, input_html: { 'data-controller': 'select2' } %>

    <hr>
    <h4>Production Info</h4>
    <%= f.input :turnaround_time %>
    <%= f.input :minimum_order %>
    <%# f.input :production_access %>
    <%= f.association :production_accesses, input_html: { 'data-controller': 'select2' } %>
    <%= f.input :file_types %>

    <hr>
    <h4>Capacity</h4>
    <p>What scale of production do you take on?</p>
    <%= f.input :bespoke_one_offs %>
    <%= f.input :sample_production %>
    <%= f.input :batch_production %>
    <%= f.input :short_run %>
    <%= f.input :medium_run %>
    <%= f.input :large_run %>


    <hr>
    <h4>Works with</h4>
    <%= f.input :works_with_general_public %>
    <%= f.input :works_with_large_business %>
    <%= f.input :works_with_professionals %>
    <%= f.input :works_with_small_companies %>
    <%= f.input :works_with_students %>

    <hr>
    <h3>
      <i class="bi bi-person-lines-fill"></i>
      Contact info
    </h3>
    <%= f.input :contact_name %>
    <%= f.input :contact_email %>
    <%= f.input :contact_phone %>
    <%= f.input :contact_jobtitle %>

    <hr>

    <h3>Social</h3>
    <%= f.input :facebook %>
    <%= f.input :flickr %>
    <%= f.input :instagram %>
    <%= f.input :linkedin %>
    <%= f.input :pinterest %>
    <%= f.input :twitter %>
    <%= f.input :youtube %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
