<% content_for(:title, 'Companies') %>

<%= search_form_for @q, class: 'pt-3 mx-auto' do |f| %>
  <h1 class="mb-4"><%= t('shared.tagline') %></h1>
  <h5>
    <%= t 'shared.search_by' %>
    <span
      class="text-muted ms-1"
      data-bs-container="body"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-placement="right"
      data-bs-content="<%= t('shared.you_can_filter') %>"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </span>
  </h5>

  <div class="row">
    <div class="my-2 col-md-6 col-xl-3">
      <%= f.select :regions_id_in,
        Region.where(is_public: true).pluck(:name, :id),
        { include_blank: 'All Regions' },
        class: ''
      %>
    </div>
    <div class="my-2 col-md-6 col-xl-3">
      <%= f.select :industry_taxonomies_id_eq,
        IndustryTaxonomy.pluck(:name, :id),
        { include_blank: 'All Industries' },
        class: ''
      %>
    </div>
    <div class="my-2 col-md-6 col-xl-3">
      <%= f.select :materials_id_eq,
        Material.pluck(:name, :id),
        { include_blank: 'All Materials' },
        class: ''
      %>
    </div>
    <div class="my-2 col-md-6 col-xl-3">
      <%= f.select :machines_taxonomies_id_eq,
        MachinesTaxonomy.pluck(:name, :id),
        { include_blank: 'All Machines' },
        { class: '', 'data-controller': 'select2-machines' }
      %>
    </div>
  </div>
  <div class="input-group my-2" style="max-width:800px">
    <%= f.search_field :name_or_description_cont, class: 'form-control', placeholder: 'Company name or description contains..' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<div class="my-4 d-block d-md-flex justify-content-between align-items-center">
  <p class="text-muted"> Showing: <%= @companies.count %> / <%= @q.result.count  %></p>
  <%= paginate @companies %>
</div>

<% if current_user %>
  <div class="text-end">
    <%= link_to 'New Company', new_company_path, class: 'btn btn-outline-primary my-3' %>
  </div>
<% end %>
