<% content_for(:title, 'Companies') %>

<%= search_form_for @q, class: 'pt-3 mx-auto' do |f| %>
  <h2>
    <%= t('shared.explore_all') %>
  </h2>

  <div class="">
    <div class="input-group mb-3">
      <%# f.submit class: 'btn btn-primary my-3', type: 'submit' %>
      <%= f.search_field :name_or_description_or_intro_or_background_cont,
        class: 'form-control',
        title: 'Company name or description contains the word',
        style: "border-top-left-radius: 20px; border-bottom-left-radius: 20px",
        placeholder: 'Search for companies'
      %>
      <button class="btn btn-dark" type="submit" >
        <i class="bi bi-search"></i>
      </button>
    </div>

    <div class="d-flex justify-content-between">
      <p class="text-muted"> Showing: <%= @companies.count %> / <%= @q.result.count  %></p>
      <%= link_to "Clear all", companies_url %>
    </div>

    <div class="mb-2">
      <label>Country</label>
      <%=
        f.country_select :country_code_eq,
        { include_blank: 'All Countries' },
        {'data-controller': 'select2'}
      %>
    </div>

    <div class="my-2">
      <label>Regions</label>
      <%= f.select :regions_id_in,
        Region.where(is_public: true).pluck(:name, :id),
        { include_blank: 'All Regions' },
        { class: '', multiple: true, 'data-controller': 'select2' }
      %>
    </div>
  </div>

  <div class="">
    <div class="my-2">
      <label>Industry</label>
      <%= f.select :industry_taxonomies_id_in,
        IndustryTaxonomy.pluck(:name, :id),
        { include_blank: 'All Industries' },
        { class: '', multiple: true, 'data-controller': 'select2' }
      %>
    </div>
    <div class="my-2">
      <label>Material</label>
      <%= f.select :materials_id_in,
        Material.pluck(:name, :id),
        { include_blank: 'All Materials' },
        { class: '', multiple: true, 'data-controller': 'select2' }
      %>
    </div>
    <div class="my-2">
      <label>Machines</label>
      <%= f.select :machines_taxonomies_id_in,
        MachinesTaxonomy.pluck(:name, :id),
        { include_blank: 'All Machines' },
        { class: '', multiple: true, 'data-controller': 'select2-machines' }
      %>
    </div>
    <div class="my-2">
      <label>Processes</label>
      <%= f.select :process_taxonomies_id_in,
        ProcessTaxonomy.pluck(:name, :id),
        { include_blank: 'All' },
        { class: '', 'data-controller': 'select2', multiple: true }
      %>
    </div>
    <div class="my-2">
      <label>Products</label>
      <%= f.select :finished_products_taxonomies_id_in,
        FinishedProductsTaxonomy.pluck(:name, :id),
        { include_blank: 'All' },
        { class: '', 'data-controller': 'select2', multiple: true }
      %>
    </div>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
