<% content_for(:title, 'Companies') %>

<%= search_form_for @q, class: 'pt-3 mx-auto' do |f| %>
  <h5>
    <%= t 'shared.search_by' %>
    <span
      class="text-muted ms-1"
      data-bs-container="body"
      data-bs-toggle="popover"
      data-bs-trigger="hover"
      data-bs-placement="right"
      data-bs-content="<%= t('shared.you_can_filter') %>"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
    </span>
  </h5>

  <div class="row">

    <div class="my-2">
      <%= f.search_field :name_or_description_cont,
        class: 'form-control',
        title: 'Company name or description contains the word',
        placeholder: 'Company name or description contains..'
      %>
    <%= f.submit class: 'btn btn-primary mt-2' %>
    </div>

    <div class="my-2">
      <label>Country</label>
      <%=
        f.country_select :country_code_eq,
        { include_blank: 'All Countries' },
        {'data-controller': 'select2'}
      %>
    </div>

    <div class="my-2">
      <label>Regions</label>
      <%= f.select :regions_id_in,
        Region.where(is_public: true).pluck(:name, :id),
        { include_blank: 'All Regions' },
        { class: '', multiple: true, 'data-controller': 'select2' }
      %>
    </div>
  </div>
  <div class="row">
    <div class="my-2">
      <label>Industry</label>
      <%= f.select :industry_taxonomies_id_in,
        IndustryTaxonomy.pluck(:name, :id),
        { include_blank: 'All Industries' },
        { class: '', multiple: true, 'data-controller': 'select2' }
      %>
    </div>
    <div class="my-2">
      <label>Material</label>
      <%= f.select :materials_id_in,
        Material.pluck(:name, :id),
        { include_blank: 'All Materials' },
        { class: '', multiple: true, 'data-controller': 'select2' }
      %>
    </div>
    <div class="my-2">
      <label>Machines</label>
      <%= f.select :machines_taxonomies_id_in,
        MachinesTaxonomy.pluck(:name, :id),
        { include_blank: 'All Machines' },
        { class: '', 'data-controller': 'select2-machines', multiple: true }
      %>
    </div>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<div class="my-4 d-block d-md-flex justify-content-between align-items-center">
  <p class="text-muted"> Showing: <%= @companies.count %> / <%= @q.result.count  %></p>
</div>
