<% content_for(:title, t('shared.companies')) %>

<%= search_form_for @q, class: 'pt-3 mx-auto', html: { :'data-controller' => 'companies-search-form', data: { turbo_frame: "search_results", turbo_action: "advance" } } do |f| %>
  <h2 class="mb-3 mb-md-4">
    <%= t('shared.explore_all') %>
  </h2>

  <div class="">
    <div class="input-group mb-3">
      <%# f.submit class: 'btn btn-primary my-3', type: 'submit' %>
      <%= f.search_field :name_or_description_or_intro_or_background_or_manufacturer_taxonomies_name_i_cont,
        class: 'form-control',
        title: t('companies.filters.search'),
        style: "border-top-left-radius: 20px; border-bottom-left-radius: 20px",
        placeholder: t('companies.filters.search'),
        data: { action: "input->companies-search-form#searchWithTimeout" }
      %>
      <button class="btn btn-dark" type="submit" >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>

  <div class="row my-2 d-none d-md-flex" data-companies-search-form-target="filterOptions">
    <div class="col-md-3">
      <div class="mt-2">
        <label><%= t('shared.regions') %></label>
        <%= f.select :regions_id_in,
          Region.where(is_public: true).pluck(:name, :id),
          { include_blank: t('companies.filters.all_regions') },
          { class: '', multiple: true, 'data-controller': 'select2',
           data: { action: "change->companies-search-form#search" } }
        %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mt-2">
        <label><%= t('companies.filters.industries') %></label>
        <%= f.select :industry_taxonomies_id_in,
          IndustryTaxonomy.pluck(:name, :id),
          { include_blank: t('companies.filters.all_industries') },
          { class: '', multiple: true, 'data-controller': 'select2',
          data: { action: "change->companies-search-form#search" } }
        %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mt-2">
        <label><%= t('companies.filters.materials') %></label>
        <%= f.select :materials_id_in,
          Material.pluck(:name, :id),
          { include_blank: t('companies.filters.all_materials') },
          { class: '', multiple: true, 'data-controller': 'select2',
          data: { action: "change->companies-search-form#search" } }
        %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mt-2">
        <label><%= t('companies.filters.machines') %></label>
        <%= f.select :machines_taxonomies_id_in,
          MachinesTaxonomy.pluck(:name, :id),
          { include_blank: t('companies.filters.all_machines') },
          { class: '', multiple: true, 'data-controller': 'select2',
          data: { action: "change->companies-search-form#search" } }
        %>
      </div>
    </div>
  </div>
  <div class="row d-none d-md-flex" data-companies-search-form-target="filterOptions">
    <div class="col-md-3">
      <div class="mt-2">
        <label><%= t('companies.filters.processes') %></label>
        <%= f.select :process_taxonomies_id_in,
          ProcessTaxonomy.pluck(:name, :id),
          { include_blank: t('companies.filters.all_processes') },
          { class: '', 'data-controller': 'select2', multiple: true,
          data: { action: "change->companies-search-form#search" } }
        %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mt-2">
        <label><%= t('companies.filters.products') %></label>
        <%= f.select :finished_products_taxonomies_id_in,
          FinishedProductsTaxonomy.pluck(:name, :id),
          { include_blank: t('companies.filters.all_products') },
          { class: '', 'data-controller': 'select2', multiple: true,
          data: { action: "change->companies-search-form#search" } }
        %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="mt-2">
        <label><%= t('companies.filters.character_tags') %></label>
        <%= f.select :character_tags_id_in,
          CharacterTag.pluck(:name, :id),
          { include_blank: t('companies.filters.all_char_tags') },
          { class: '', 'data-controller': 'select2', multiple: true,
          data: { action: "change->companies-search-form#search" } }
        %>
      </div>
    </div>
    <div class="col-md-3">
      <label class="d-none d-md-block">&nbsp;</label>
      <%= f.submit class: 'btn btn-primary mt-4 mt-md-2 my-2 w-100' %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="d-flex justify-content-between">
      <p class="d-md-none" data-companies-search-form-target="showOptionsLink"><a href="#" data-action="click->companies-search-form#show"><%= t('companies.filters.more_filters') %></a></p>
      <p class="d-none d-md-none" data-companies-search-form-target="hideOptionsLink"><a href="#" data-action="click->companies-search-form#hide"><%= t('companies.filters.hide_filters') %></a></p>
      <p class="ms-auto">
       <%= link_to t('companies.filters.clear_all'), companies_url %>
      </p>
    </div>
  </div>
<% end %>
