<div class="card-columns">
  <div class="card mb-4 p-4">
    <h5>Finished products</h5>
    <ul class="list-unstyled">
      <% @company.finished_products.each do |x| %>
        <li>
          <%= link_to x.finished_products_taxonomy.name, finished_products_taxonomy_url(x) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="card mb-4 p-4">
    <h5>Processes</h5>
    <ul class="list-unstyled">
      <% @company.company_processes.each do |x| %>
        <li>
          <%= link_to x.process_taxonomy.name, process_taxonomy_url(x) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="card mb-4 p-4">
    <h5>Industries</h5>
    <ul class="list-unstyled">
      <% @company.industries.each do |x| %>
        <li>
          <%= link_to x.industry_taxonomy.name, industry_taxonomy_url(x) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="card mb-4 p-4">
    <h5>Materials</h5>
    <ul class="list-unstyled">
      <% @company.materials.each do |x| %>
        <li>
          <%= link_to x.materials_taxonomy.name, materials_taxonomy_url(x) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="card mb-4 p-4">
    <h5>Manufacturer</h5>
    <ul class="list-unstyled">
      <% @company.manufacturers.each do |x| %>
        <li>
          <%= link_to x.manufacturer_taxonomy.name, manufacturer_taxonomy_url(x) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="card mb-4 p-4">
    <h5>Machines</h5>
    <ul class="list-unstyled">
      <% @company.machines.each do |x| %>
        <li>
          <%= link_to x.machines_taxonomy.name, machines_taxonomy_url(x) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

