<% content_for(:title, 'Companies') %>
<div class="container-fluid">

  <%= search_form_for @q, class: 'pt-3 mx-auto' do |f| %>
    <h1 class="mb-4"><%= t('shared.tagline') %></h1>
    <div class="row">
      <div class="my-2 col-md-6 col-xl-3">
        <%= f.select :region_id_eq, Region.where(is_public: true).pluck(:name, :id), {include_blank: 'All Regions'}, class: 'form-control' %>
      </div>
      <div class="my-2 col-md-6 col-xl-3">
        <%= f.select :industry_taxonomies_id_eq, IndustryTaxonomy.pluck(:name, :id), {include_blank: 'All Industries'}, class: 'form-control' %>
      </div>
      <div class="my-2 col-md-6 col-xl-3">
        <%= f.select :materials_taxonomies_id_eq, MaterialsTaxonomy.pluck(:name, :id), {include_blank: 'All Materials'}, class: 'form-control' %>
      </div>
      <div class="my-2 col-md-6 col-xl-3">
        <%= f.select :machines_taxonomies_id_eq, MachinesTaxonomy.pluck(:name, :id), {include_blank: 'All Machines'}, class: 'form-control' %>
      </div>
    </div>
    <div class="input-group my-2" style="max-width:800px">
      <%= f.search_field :name_or_description_cont, class: 'form-control', placeholder: 'Company name or description contains..' %>
      <div class="input-group-append">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
    <p class="text-muted">
    Found: <%= @companies.count %>
    </p>
  <% end %>

  <%= paginate @companies %>

  <% if current_user %>
    <div class="text-right">
      <%= link_to 'New Company', new_company_path, class: 'btn btn-primary my-3' %>
    </div>
  <% end %>

  <table class="table table-sm table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th><%= sort_link(@q, :name)%></th>
        <th><%= sort_link(@q, :region)%></th>
        <th>Address</th>
        <th>Background</th>
        <th>Description</th>
        <th>Intro</th>
        <th><%= sort_link(@q, :minimum_order)%></th>
        <th><%= sort_link(@q, :number_of_staff)%></th>
        <th><%= sort_link(@q, :year_founded)%></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company.name, company %></td>
          <td><%= link_to company.region, company.region %></td>
          <td title="<%= company.address %>"><%= company.address&.truncate(30) %></td>
          <td title="<%= company.background %>"><%= company.background&.truncate(30) %></td>
          <td title="<%= company.description %>"><%= company.description&.truncate(30) %></td>
          <td title="<%= company.intro %>"><%= company.intro&.truncate(30)  %></td>
          <td><%= company.minimum_order %></td>
          <td><%= company.number_of_staff %></td>
          <td><%= company.year_founded %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= paginate @companies %>
</div>
