<%= render 'table_filters' %>

<%= link_to "Advanced view", companies_advanced_url %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name)%></th>
      <th><%= sort_link(@q, :year_founded, 'Founded')%></th>
      <th><%= sort_link(@q, :regions)%></th>
      <th>Location</th>
      <th><%= sort_link(@q, :minimum_order)%></th>
      <th><%= sort_link(@q, :number_of_staff)%></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td>
          <%= link_to company.name, company %><br>
          <small>
            <%= company.industry_taxonomies.to_sentence %>
          </small>
        </td>
        <td><%= company.year_founded %></td>
        <td><%= company.regions.pluck(:name) %></td>
        <td title="<%= company.location %>"><%= company.location&.truncate(30) %></td>
        <td><%= company.minimum_order %></td>
        <td><%= company.number_of_staff %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @companies %>
