<h1 class="mb-4"><%= t('shared.tagline') %></h1>

<div class="row">

  <div class="col-md-3">
    <%= render 'table_filters' %>
  </div>

  <div class="col-md-9">
    <div class="text-end">
      <p class="text-muted"> Showing: <%= @companies.count %> / <%= @q.result.count  %></p>
    </div>

    <section class="row">
      <% @companies.each do |company| %>
        <article class="col-lg-6 col-xxl-3 mb-3">
          <%= render partial: 'companies/company_card', locals: { company: company } %>
        </article>
      <% end %>
    </section>

    <div class="d-flex justify-content-center">
      <%= paginate @companies %>
    </div>
  </div>
</div>
