<% if current_user&.is_admin? ||
    current_user&.is_employee_in_company(@company.id) ||
    current_user&.is_champion_in_regions(@company.regions)
  %>
  <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary' %>
<% end %>

<section class="row my-4">
  <article class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <%= title @company.name %>

        <% @company.regions.each do |region| %>
          <%= link_to region, region_url(region), class: 'd-block mb-3' %>
        <% end %>

        <p><%= @company.intro %></p>

        <table class="w-100">
          <tbody>
            <tr>
              <th>Type</th>
              <td> <%= @company.manufacturer_taxonomies.to_sentence %> </td>
            </tr>
            <tr>
              <th>Industry</th>
              <td><%= @company.industry_taxonomies.to_sentence %></td>
            </tr>
            <tr>
              <th><%= t('shared.employees') %></th>
              <td><%= @company.number_of_staff %></td>
            </tr>
            <tr>
              <th>Region</th>
              <td><%# link_to @company.region, region_url(@company.region) %></td>
            </tr>
            <tr>
              <th>Location</th>
              <td><%= @company.location %></td>
            </tr>
          </tbody>
        </table>

        <div>
          <%= link_to toggle_favorite_company_url(@company),
            method: :patch,
            class: 'btn btn-outline-blue d-block mt-4' do %>

            <% if current_user && current_user.favorite_companies.where(company: @company.id).first&.is_favorite %>
              <i class="bi bi-star-fill"></i>
              Saved
            <% else %>
              <i class="bi bi-star"></i>
              Save to favorites
            <% end %>
          <% end %>

          <%= mail_to @company.contact_email, class: 'btn btn-outline-blue d-block mt-4' do %>
            Contact
          <% end %>

          <br>
          <% if false  # current_user.favorite_companies.pluck(:company_id).include?(@company.id) %>
            <small>
              Personal note:
              <input
                type="text"
                class="form-control"
                name=""
                id=""
                value="<%= current_user.favorite_companies.where(company: @company.id).first&.note %>"
                />
            </small>
          <% end %>
        </div>

      </div>
    </div>

    <h6>ADDRESS</h6>
    <p> <%= @company.address %> </p>

    <h6>WEBSITE</h6>
    <p>
    <%= link_to(@company.website, @company.website, target: "_blank", class: 'text-decoration-none') %>
    </p>

    <h6>PHONE</h6>
    <p> <%= @company.contact_phone %> </p>

    <h6>SOCIAL MEDIA</h6>
    <div class="text-muted fs-3">
      <%= render 'social_media_icons' %>
    </div>

    <% if current_user&.is_admin? || current_user&.is_champion_in_regions(@company.regions) %>
      <div class="card-admin bg-white mt-4">
        <p class="text-center">Admin info:</p>
        <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary mb-4'  %>
        <ul>
          <%# @company.title %>
          <li>Is verified: <%= @company.is_verified? %></li>
          <li>Trimmed name: <%= @company.slug %></li>
          <li>Soft delete: <%= @company.soft_delete %></li>
          <li>Been visited: <%= @company.been_visited %> </li>
          <li>Year founded: <%= @company.year_founded %></li>
          <li>Film ready: <%= @company.film_ready %></li>
        </ul>

        <p>Employees:</p>
        <ul class="list-unstyled border-top">
          <% @company.employees.each do |e| %>
            <li class="border-bottom py-2">
              <%= e.user %>
              <small class="badge bg-secondary">
                <%= e.role %>
              </small>
              <br>
              <%= e.title %>
            </li>
          <% end %>
        </ul>

        <p>Contact name:
        <%= @company.contact_name %> </p>

        <p>Contact jobtitle:
        <%= @company.contact_jobtitle %> </p>

        <p>Email
        <%= @company.contact_email %> </p>


        <%= image_tag(get_1200px(@company.portrait), alt: 'Portrait', class: 'img-fill') if @company&.portrait.present? %>
        <!--
          TODO: contact_avatar (new) using Active Storage
          <%# image_tag(@company.contact_avatar, alt: 'Portrait', class: 'img-fill') if @company&.contact_avatar.attached? %>
        -->

      </div>
    <% end %>
  </article>

  <article class="col-lg-8">
    <!-- new slider -->
    <% if @company.slider_images.attached? %>
      <%= render 'new_slider' %>
    <% end %>

    <!-- old slider -->
    <% if @company.old_photos.present? %>
      <%= render 'old_slider' %>
    <% end %>

    <!-- this image is sometimes a part of the the slider, as the first image -->
    <%# image_tag(get_1200px(@company.top_image), class: 'border border-dark') if @company.top_image.present? %>

    <div class="card">
      <div class="card-body">
        <h2 class="mt-2">Production details</h2>
        <p><%= @company.production_specifics %></p>

        <section class="row my-4">
          <article class="col-sm-6 mb-3">
            <h5>Turnaround time</h5>
            <span><%= @company.turnaround_time %></span>
          </article>

          <article class="col-sm-6 mb-3">
            <h5>File types</h5>
            <span><%= @company.file_types %></span>
          </article>

          <article class="col-sm-6 mb-3">
            <h5>Minimum order</h5>
            <span><%= @company.minimum_order %></span>
          </article>

          <article class="col-sm-6 mb-3">
            <h5>Production access</h5>
            <span><%= @company.production_accesses.to_sentence %></span>
          </article>

          <article class="col-sm-6 mb-3">
            <h5>Works With</h5>
            <ul class="list-unstyled">
              <%= render 'list_item_checkbox', the_bool: @company.works_with_large_business, the_text: 'Large business' %>
              <%= render 'list_item_checkbox', the_bool: @company.works_with_small_companies, the_text: 'Small companies' %>
              <%= render 'list_item_checkbox', the_bool: @company.works_with_professionals, the_text: 'Professionals' %>
              <%= render 'list_item_checkbox', the_bool: @company.works_with_general_public , the_text: 'General public' %>
              <%= render 'list_item_checkbox', the_bool: @company.works_with_students, the_text: 'Students' %>
            </ul>
          </article>

          <article class="col-sm-6 mb-2">
            <h5>Capacity</h5>
            <ul class="list-unstyled">
              <%= render 'list_item_checkbox', the_bool: @company.bespoke_one_offs, the_text: 'Bespoke 1-offs' %>
              <%= render 'list_item_checkbox', the_bool: @company.sample_production, the_text: 'Sample production' %>
              <%= render 'list_item_checkbox', the_bool: @company.batch_production, the_text: 'Prototypes' %>
              <%= render 'list_item_checkbox', the_bool: @company.short_run,  the_text: 'Short run' %>
              <%= render 'list_item_checkbox', the_bool: @company.medium_run, the_text: 'Medium run' %>
              <%= render 'list_item_checkbox', the_bool: @company.large_run, the_text: 'Large run' %>
            </ul>
          </article>
        </section>

        <hr>

        <section class="row my-5 mb-5">
          <article class="col-md-6">
            <h4>Materials</h4>
            <ul class="list-unstyled">
              <% @company.materials.each do |x| %>
                <li>
                  <%= link_to x, material_url(x.id) %>
                </li>
              <% end %>
            </ul>
          </article>

          <article class="col-md-6 mb-5">
            <h4>Processes</h4>
            <ul class="list-unstyled">
              <% @company.process_taxonomies.each do |x| %>
                <li>
                  <%= link_to x, process_taxonomy_url(x) %>
                </li>
              <% end %>
            </ul>
          </article>

          <article class="col-md-6 mb-5">
            <h4>Machines</h4>
            <ul class="list-unstyled">
              <% @company.machines_taxonomies.each do |x| %>
                <li>
                  <%= link_to x, machines_taxonomy_url(x) %>
                </li>
              <% end %>
            </ul>
          </article>

          <article class="col-md-6 mb-5">
            <h4>Products</h4>
            <ul class="list-unstyled">
              <% @company.finished_products_taxonomies.each do |x| %>
                <li>
                  <%= link_to x, finished_products_taxonomy_url(x) %>
                </li>
              <% end %>
            </ul>
          </article>
        </section>
      </div>
    </div><!-- card -->

    <div class="card">
      <div class="p-4">
        <h3>Company History</h3>
        <p class="mt-4">
        <%= @company.background %>
        </p>
      </div>

      <% if @company.lat.present? && @company.lng.present? %>
        <%= render partial: 'map', locals: { locations: [@company]} %>
      <% end %>
    </div><!-- card -->

  </article>
</section><!-- main row -->

<div class="my-5 p-5 bg-grey3">
  <h2>Similar companies nearby</h2>

  <section class="row">
  <% if @company.persisted? %>
    <%# Show 4 nearby companies only in same industries %>
    <% Company
      .geocoded
      .includes(
        :company_organization,
        :regions,
        :industries,
        :manufacturers,
        :manufacturer_taxonomies,
        #industries: [:industry_taxonomy]
      )
      .joins(:industry_taxonomies)
      .where(industry_taxonomies: {id: @company.industry_taxonomy_ids})
      .where.not(id: @company.id)
      .limit(4)
      .near(@company.to_coordinates, 50)
      .uniq
      .each do |company| %>

      <%= render company %>

      <%# Shows distance in KM to the company %>
      <%# Geocoder::Calculations.distance_between(@company.to_coordinates, company.to_coordinates) %>
    <% end %>

    <%# Show nearby companies, no matter which industry %>
    <%# @company
      .nearbys
      .includes(:regions, :manufacturer_taxonomies, :industry_taxonomies)
      .each do |company| %>
      <%#= render company %>
      <%# end %>
    <% end %>
  </section>
</div>
