<% if current_user&.is_admin? || current_user&.is_champion_in_region(@company.region) %>
  <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary'  %>
  <div class="my-4">
    <div class="card-admin">
      <p>Admin info:</p>
      <ul>
        <%# @company.title %>
        <li>Is verified: <%= @company.is_verified? %></li>
        <li>Trimmed name: <%= @company.trimmed_name %></li>
        <li>Soft delete: <%= @company.soft_delete %></li>
        <li>Been visited: <%= @company.been_visited %> </li>
        <li>Year founded: <%= @company.year_founded %></li>
        <li>Film ready: <%= @company.film_ready %></li>
      </ul>
    </div>
  </div>
<% end %>

<%= link_to @company.region, region_url(@company.region) %>
<%= title @company.name %>

<div class="row my-4">
  <div class="col-md-7">
    <p><%= @company.intro %></p>
  </div>
  <div class="col-md-5">
    <table style='width: 100%'>
      <tbody>
        <tr>
          <th>Type</th>
          <td> <%= @company.manufacturer_taxonomies.to_sentence %> </td>
        </tr>
        <tr>
          <th>Industry</th>
          <td><%= @company.industry_taxonomies.to_sentence %></td>
        </tr>
        <tr>
          <th>Employees</th>
          <td><%= @company.number_of_staff %></td>
        </tr>
        <tr>
          <th>Region</th>
          <td><%= link_to @company.region, region_url(@company.region) %></td>
        </tr>
        <tr>
          <th>Location</th>
          <td><%= @company.location %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- new slider -->
<% if @company.slider_images.attached? %>
  <div class="carousel slide" id="carouselCompany" data-bs-ride="carousel">
    <div class="carousel-inner border border-dark mb-3">

      <% @company.slider_images.each_with_index do |img, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= image_tag(img, class: 'd-block mx-auto', style: 'height:500px') %>
        </div>
      <% end %>

    </div>
    <a class="carousel-control-prev" href="#carouselCompany" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselCompany" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
<% end %>

<!-- old slider -->
<% if @company.old_photos.present? %>
  <div class="carousel slide" id="carouselCompany-old" data-bs-ride="carousel">
    <div class="carousel-inner border border-dark">
      <% @company.old_photos.each_with_index do |img, index| %>
        <% if img.present? %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= image_tag(get_1200px(img), class: 'd-block w-100') %>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselCompany-old" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselCompany-old" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
<% end %>

<!-- this image is sometimes a part of the the slider, as the first image -->
<%# image_tag(get_1200px(@company.top_image), class: 'border border-dark') if @company.top_image.present? %>

<h2 class="mt-5">Production details</h2>

<div class="row my-4">
  <div class="col-md-7">
    <p><%= @company.production_specifics %></p>
  </div>
  <div class="col-md-5">
    <div class="">
      <table style='width: 100%'>
        <tbody>
          <tr>
            <th>Turnaround time</th>
            <td><%= @company.turnaround_time %></td>
          </tr>
          <tr>
            <th>Minimum order</th>
            <td><%= @company.minimum_order %></td>
          </tr>
          <tr>
            <th>Production access</th>
            <td><%= @company.production_access %></td>
          </tr>
          <tr>
            <th>File types</th>
            <td><%= @company.file_types %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col-md-4 col-xl-2">
    <h4>Materials</h4>
    <ul class="list-unstyled">
      <% @company.materials_taxonomies.each do |x| %>
        <li>
          <%= link_to x, materials_taxonomy_url(x) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4 col-xl-2">
    <h4>Processes</h4>
    <ul class="list-unstyled">
      <% @company.process_taxonomies.each do |x| %>
        <li>
          <%= link_to x, process_taxonomy_url(x) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4 col-xl-3 mb-4">
    <h4>Machines</h4>
    <ul class="list-unstyled">
      <% @company.machines_taxonomies.each do |x| %>
        <li>
          <%= link_to x, machines_taxonomy_url(x) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6 col-xl-2">
    <h4>Works With</h4>
    <ul class="list-unstyled">
      <%= render 'list_item_checkbox', the_bool: @company.works_with_large_business, the_text: 'Large business' %>
      <%= render 'list_item_checkbox', the_bool: @company.works_with_small_companies, the_text: 'Small companies' %>
      <%= render 'list_item_checkbox', the_bool: @company.works_with_professionals, the_text: 'Professionals' %>
      <%= render 'list_item_checkbox', the_bool: @company.works_with_general_public , the_text: 'General public' %>
      <%= render 'list_item_checkbox', the_bool: @company.works_with_students, the_text: 'Students' %>
    </ul>
  </div>

  <div class="col-md-6 col-xl-3">
    <h4>Capacity</h4>
    <ul class="list-unstyled">
      <%= render 'list_item_checkbox', the_bool: @company.bespoke_one_offs, the_text: 'Bespoke 1-offs' %>
      <%= render 'list_item_checkbox', the_bool: @company.sample_production, the_text: 'Sample production' %>
      <%= render 'list_item_checkbox', the_bool: @company.batch_production, the_text: 'Batch production / Prototypes' %>
      <%= render 'list_item_checkbox', the_bool: @company.short_run,  the_text: 'Short run' %>
      <%= render 'list_item_checkbox', the_bool: @company.medium_run, the_text: 'Medium run' %>
      <%= render 'list_item_checkbox', the_bool: @company.large_run, the_text: 'Large run' %>
    </ul>
  </div>
</div>

<div class="row border border-dark">
  <div class="col-md-6 tile-first p-0 border-bottom border-dark">
    <%= image_tag(@company.portrait, alt: 'Portrait', class: 'img-fil') if @company&.portrait.present? %>
  </div>

  <div class="col-md-6 border-bottom border-dark">
    <div class="p-4">
      <div class="text-center">
        <div class="btn btn-lg btn-yellow">
          Contact
        </div>
      </div>
      <% if @company.contact_name.present? %>
        <h3 class="my-4">
          <%= @company.contact_name %>
        </h3>
      <% end %>

      <table class="table">
        <% if @company.contact_jobtitle.present? %>
          <tr>
            <th>Contact jobtitle:</th>
            <td> <%= @company.contact_jobtitle %> </td>
          </tr>
        <% end %>

        <% if @company.contact_email.present? %>
          <tr>
            <th>Contact email:</th>
            <td> <%= @company.contact_email %> </td>
          </tr>
        <% end %>

        <% if @company.contact_phone.present? %>
          <tr>
            <th>Contact phone:</th>
            <td> <%= @company.contact_phone %> </td>
          </tr>
        <% end %>

        <% if @company.address.present? %>
          <tr>
            <th> Address: </th>
            <td> <%= @company.address %> </td>
          </tr>
        <% end %>

        <% if @company.website.present? %>
          <tr>
            <th>Website:</th>
            <td>
              <%= link_to(@company.website, @company.website, target: "_blank", class: 'text-decoration-none') %>
            </td>
          </tr>
        <% end %>

      </table>

      <strong>
        Social Media:
      </strong>

      <% if @company.linkedin.present? %>
        <%= link_to(@company.linkedin, target: "_blank", class: 'text-decoration-none m-1') do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
          </svg>
        <% end %>
      <% end %>

      <% if @company.flickr.present? %>
        <%= link_to( @company.flickr, target: "_blank", class: 'text-decoration-none m-1') do %>
          Flickr
        <% end %>
      <% end %>

      <% if @company.facebook.present? %>
        <%= link_to(@company.facebook, target: "_blank", class: 'text-decoration-none m-1') do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
          </svg>
        <% end %>
      <% end %>

      <% if @company.instagram.present? %>
        <%= link_to(@company.instagram, target: "_blank", class: 'text-decoration-none m-1') do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
          </svg>
        <% end %>
      <% end %>

      <% if @company.twitter.present? %>
        <%= link_to(@company.twitter, target: "_blank", class: 'text-decoration-none m-1') do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
          </svg>
        <% end %>
      <% end %>

      <% if @company.pinterest.present? %>
        <%= link_to(@company.pinterest, target: "_blank", class: 'text-decoration-none m-1') do %>
          Pinterest
        <% end %>
      <% end %>

      <% if @company.youtube.present? %>
        <%= link_to(@company.youtube, target: "_blank", class: 'text-decoration-none m-1') do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
            <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.122C.002 7.343.01 6.6.064 5.78l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
          </svg>
        <% end %>
      <% end %>

      <% if @company.video_link %>
        <%= link_to(@company.video_link, target: "_blank", class: 'text-decoration-none m-1') do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
            <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
          </svg>
        <% end %>
      <% end %>

    </div>
  </div>

  <div class="col-md-6 tile-first">
    <div class="p-4">
      <h3>Company History</h3>
      <%= @company.background %>
    </div>
  </div>
  <div class="col-md-6 p-0">
    <% if @company.lat.present? && @company.lng.present? %>
      <%= render partial: 'map', locals: { locations: [@company]} %>
    <% end %>
  </div>
</div>

<div class="my-3">
  <p>Companies nearby:</p>
  <% unless @company.new_record? %>
    <ul>
      <% @company.nearbys&.limit(8)&.each do |c| %>
        <li>
          <%= link_to c, company_url(c) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="mb-3">
  <% if current_user&.is_admin? || current_user&.is_champion_in_region(@company.region) %>
    <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary'  %>
  <% end %>
</div>
