<div class="container bg-light border my-5 p-5">

  <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary mb-2'  %>

  <p>
  <strong>Region:</strong>
  <%= @company.region %>
  </p>

  <p>
  <strong>Address:</strong>
  <%= @company.address %>
  </p>

  <p>
  <strong>Background:</strong>
  <%= @company.background %>
  </p>

  <p>
  <strong>File types:</strong>
  <%= @company.file_types %>
  </p>

  <p>
  <strong>Intro:</strong>
  <%= @company.intro %>
  </p>

  <p>
  <strong>Large run:</strong>
  <%= @company.large_run %>
  </p>

  <p>
  <strong>Lat:</strong>
  <%= @company.lat %>
  </p>

  <p>
  <strong>Lng:</strong>
  <%= @company.lng %>
  </p>

  <p>
  <strong>Location:</strong>
  <%= @company.location %>
  </p>

  <p>
  <strong>Medium run:</strong>
  <%= @company.medium_run %>
  </p>

  <p>
  <strong>Minimum order:</strong>
  <%= @company.minimum_order %>
  </p>

  <p>
  <strong>Name:</strong>
  <%= @company.name %>
  </p>

  <p>
  <strong>Number of staff:</strong>
  <%= @company.number_of_staff %>
  </p>

  <p>
  <strong>Photo1:</strong>
  <%= @company.photo1 %>
  </p>

  <p>
  <strong>Photo2:</strong>
  <%= @company.photo2 %>
  </p>

  <p>
  <strong>Photo3:</strong>
  <%= @company.photo3 %>
  </p>

  <p>
  <strong>Photo4:</strong>
  <%= @company.photo4 %>
  </p>

  <p>
  <strong>Photo5:</strong>
  <%= @company.photo5 %>
  </p>

  <p>
  <strong>Photo6:</strong>
  <%= @company.photo6 %>
  </p>

  <p>
  <strong>Photo7:</strong>
  <%= @company.photo7 %>
  </p>

  <p>
  <strong>Photo8:</strong>
  <%= @company.photo8 %>
  </p>

  <p>
  <strong>Photo9:</strong>
  <%= @company.photo9 %>
  </p>

  <p>
  <strong>Portrait:</strong>
  <%= @company.portrait %>
  </p>

  <p>
  <strong>Sample production:</strong>
  <%= @company.sample_production %>
  </p>

  <p>
  <strong>Short run:</strong>
  <%= @company.short_run %>
  </p>

  <p>
  <strong>Soft delete:</strong>
  <%= @company.soft_delete %>
  </p>

  <p>
  <strong>Top image:</strong>
  <%= @company.top_image %>
  </p>

  <p>
  <strong>Video link:</strong>
  <%= @company.video_link %>
  </p>

  <p>
  <strong>Website:</strong>
  <%= @company.website %>
  </p>

  <p>
  <strong>Year founded:</strong>
  <%= @company.year_founded %>
  </p>

  <%= link_to 'Edit', edit_company_path(@company) %> |
  <%= link_to 'Back', companies_path %>
</div>
