<% content_for(:title, @company.name) %>

<div class="container bg-light border my-5 p-5">

  <div class="my-2">
    <h2 class="text-center">Name: <%= @company.name %></h2>
    <% if current_user&.is_admin? %>
      <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary'  %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-6">

      <%= image_tag @company.top_image %>
      <p>Region: <%= @company.region %></p>
      <p>Address: <%= @company.address %></p>
      <p>Intro: <%= @company.intro %></p>
      <p><%= @company.background %></p>

      <% if current_user&.is_admin? %>
        <div class="border border-dark mb-4 p-4">
          <p>Admin info:</p>
          <ul>
            <%# @company.title %>
            <li>Trimmed name: <%= @company.trimmed_name %></li>
            <li>Soft delete: <%= @company.soft_delete %></li>
            <li>Been visited: <%= @company.been_visited %> </li> 
            <li>Year founded: <%= @company.year_founded %></li>
            <li>Film ready: <%= @company.film_ready %></li>
          </ul>
        </div>
      <% end %>

      <div class="border border-dark mb-4 p-4">
        <h4 class="text-center">Info</h4>
        <ul>
          <li>Turnaround time: <%= @company.turnaround_time %></li>
          <li>Minimum order: <%= @company.minimum_order %></li>
          <li>Production access: <%= @company.production_access %></li>
          <li>File types: <%= @company.file_types %></li>
        </ul>
      </div>


      <div class="border border-dark mb-4 p-4">
        <h4 class="text-center">Works With</h4>

        <ul>
          <li>Large business: <%= @company.works_with_large_business %> </li>
          <li>Small companies: <%= @company.works_with_small_companies %> </li>
          <li>Professionals: <%= @company.works_with_professionals %> </li>
          <li>General public: <%= @company.works_with_general_public %> </li>
          <li>Students: <%= @company.works_with_students %> </li>
        </ul>
      </div>

      <div class="border border-dark mb-4 p-4">
        <h4 class="text-center">Capacity</h4>
        <ul>
          <li>Bespoke 1-offs: <%= @company.bespoke_one_offs %> </li>
          <li>Sample production: <%= @company.sample_production %> </li>
          <li>Batch production / Prototypes: <%= @company.batch_production %> </li>
          <li>Short run: <%= @company.short_run %> </li>
          <li>Medium run: <%= @company.medium_run %> </li>
          <li>Large run: <%= @company.large_run %> </li>
        </ul>

      </div>

      <h4 class="text-center">Pictures</h4>
      <div id="carouselCompany" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-dark">
          <%= render partial: 'carousel_item', locals: { images: @company.all_photos } %>
        </div>
        <a class="carousel-control-prev" href="#carouselCompany" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselCompany" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="border border-dark mb-4 p-4">
        <h4 class="text-center">Contact info</h4>
        <p>
        <strong>Contact name:</strong>
        <%= @company.contact_name %>
        </p>

        <p>
        <strong>Contact email:</strong>
        <%= @company.contact_email %>
        </p>

        <p>
        <strong>Contact phone:</strong>
        <%= @company.contact_phone %>
        </p>

        <p>
        <strong>Contact jobtitle:</strong>
        <%= @company.contact_jobtitle %>
        </p>

        <div class="text-center">
          <%= image_tag @company.portrait if @company.portrait %>
        </div>

        <p>
        <strong>Number of staff:</strong>
        <%= @company.number_of_staff %>
        </p>

        <p>
        <strong>Lat:</strong>
        <%= @company.lat %>
        </p>

        <p>
        <strong>Lng:</strong>
        <%= @company.lng %>
        </p>

        <p>
        <strong>Location:</strong>
        <%= @company.location %>
        </p>

      </div>

      <% if @company.lat.present? && @company.lng.present? %>
        <div class="border border-dark mb-4">
          <%= render partial: 'map', locals: { locations: [@company]} %>
        </div>
      <% end %>

      <div class="border border-dark mb-4 p-4">
        <h4 class="text-center">Social</h4>

        <strong>Linkedin:</strong>
        <%= link_to(@company.linkedin, @company.linkedin, target: "_blank") %>
        <br>

        <strong>Flickr:</strong>
        <%= link_to(@company.flickr, @company.flickr, target: "_blank") %>
        <br>

        <strong>Facebook:</strong>
        <%= link_to(@company.facebook, @company.facebook, target: "_blank") %>
        <br>

        <strong>Instagram:</strong>
        <%= link_to(@company.instagram, @company.instagram, target: "_blank") %>
        <br>

        <strong>Twitter:</strong>
        <%= link_to(@company.twitter, @company.twitter, target: "_blank") %>
        <br>

        <strong>Pinterest:</strong>
        <%= link_to(@company.pinterest, @company.pinterest, target: "_blank") %>
        <br>

        <strong>Youtube:</strong>
        <%= link_to(@company.youtube, @company.youtube, target: "_blank") %>
        <br>

        <strong>Video link:</strong>
        <%= link_to(@company.video_link, @company.video_link, target: "_blank") %>
        <br>

        <strong>Website:</strong>
        <%= link_to(@company.website, @company.website, target: "_blank") %>
        <br>
      </div>
    </div>

    <div class="col-12 my-4">
      <h4 class="text-center">Taxonomies</h4>
    </div>
  </div>

  <div class="card-columns">
    <div class="card mb-4 p-4">
      <h5>Finished products</h5>
      <ul class="list-unstyled">
        <% @company.finished_products.each do |x| %>
          <li>
            <%= x.finished_products_taxonomy.name %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="card mb-4 p-4">
      <h5>Processes</h5>
      <ul class="list-unstyled">
        <% @company.company_processes.each do |x| %>
          <li>
            <%= x.process_taxonomy.name %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="card mb-4 p-4">
      <h5>Industries</h5>
      <ul class="list-unstyled">
        <% @company.industries.each do |x| %>
          <li>
            <%= x.industry_taxonomy.name %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="card mb-4 p-4">
      <h5>Materials</h5>
      <ul class="list-unstyled">
        <% @company.materials.each do |x| %>
          <li>
            <%= x.materials_taxonomy.name %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="card mb-4 p-4">
      <h5>Manufacturer</h5>
      <ul class="list-unstyled">
        <% @company.manufacturers.each do |x| %>
          <li>
            <%= x.manufacturer_taxonomy.name %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="card mb-4 p-4">
      <h5>Machines</h5>
      <ul class="list-unstyled">
        <% @company.machines.each do |x| %>
          <li>
            <%= x.machines_taxonomy.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
