<p id="notice"><%= notice %></p>

<h1>Media</h1>

<%= search_form_for @q, class: 'my-4' do |f| %>
  <label>Filter by company</label>
  <%= f.select :company_id_in,
    Company.pluck(:name, :id),
    { include_blank: 'All Companies' },
    { class: '', multiple: true, 'data-controller': 'select2' }
  %>

    <%= f.submit class: 'btn btn-primary my-3' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>M</th>
      <th>Company</th>
      <th>Thumbnail url</th>
      <th>Web url</th>
      <th>Hi res</th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= link_to medium.m_id, medium %></td>
        <td><%= link_to medium.company, edit_company_url(medium.company) if medium.company %></td>
        <td><%= image_tag medium.thumbnail_url %></td>
        <td><%= link_to 'web_url', medium.web_url %></td>
        <td><%= link_to 'hi_res', medium.hi_res %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @media %>

<%= link_to 'New Medium', new_medium_path %>
