<p id="notice"><%= notice %></p>

<h1>Media</h1>

<table>
  <thead>
    <tr>
      <th>M</th>
      <th>Company</th>
      <th>Thumbnail url</th>
      <th>Web url</th>
      <th>Hi res</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.m_id %></td>
        <td><%= medium.company_id %></td>
        <td><%= medium.thumbnail_url %></td>
        <td><%= medium.web_url %></td>
        <td><%= medium.hi_res %></td>
        <td><%= link_to 'Show', medium %></td>
        <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
        <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medium', new_medium_path %>
