<div class="border-top border-dark my-5">
  <p>
    <strong>M:</strong>
    <%= @medium.m_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= link_to @medium.company, edit_company_url(@medium.company) if @medium.company %>
  </p>

  <p>
    <strong>Thumbnail url:</strong>
    <%= @medium.thumbnail_url %>
    <br>
    <%= image_tag @medium.thumbnail_url %>
  </p>

  <p>
    <strong>Web url:</strong>
    <%= @medium.web_url %>
    <br>
    <%= image_tag @medium.web_url %>
  </p>

  <p>
    <strong>Hi res:</strong>
    <%= @medium.hi_res %>
    <br>
    <%= image_tag @medium.hi_res %>
  </p>

</div>
