<p id="notice"><%= notice %></p>

<p>
  <strong>M:</strong>
  <%= @country.m_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Can signup:</strong>
  <%= @country.can_signup %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @country.is_public %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @country.logo %>
</p>

<p>
  <strong>Trimmed name:</strong>
  <%= @country.trimmed_name %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
