<%= simple_form_for(@region) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>

    <label>Short info (shown before image)</label>
    <%= f.rich_text_area :short_info %>
    <br>

    <%= f.input :avatar, input_html: { class: 'form-control' } %>
    <% if @region.avatar.attached? %>
      <div class="text-center mb-3">
        <%= image_tag @region.avatar, style: 'max-height:200px;' %>
      </div>
    <% end %>
    <br>

    <label>Short Description (shown on /regions page)</label>
    <%= f.rich_text_area :short_description %>
    <br>

    <label>About text</label>
    <%= f.rich_text_area :about_text %>
    <br>

    <label>Partner text</label>
    <%= f.rich_text_area :partner_text %>
    <br>

    <%= f.input :partner_logos, as: :file, input_html: { multiple: true, class: 'form-control' } %>
    <% if @region.partner_logos.attached? %>
      <div class="row my-4 bg-light p-3 m-1 border">
        <% @region.partner_logos.each_with_index do |img, index| %>
          <div class="col-auto">
            <%= image_tag img, class: '', style: 'max-height:200px;' %>
            <%= link_to "Remove", delete_partner_image_region_url(img.id),
              class: 'd-block my-1 text-danger', method: :delete, remote: true,
              data: { confirm: 'Are you sure you want to remove this image?' } %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= f.input :can_signup %>
    <%= f.input :is_public %>
    <%= f.input :slug %>
    <%= f.input :lat %>
    <%= f.input :lng %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
