
<%= simple_form_for(@region) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.rich_text_area :about_text %>
    <%= f.input :can_signup %>
    <%= f.input :is_public %>
    <%= f.input :logo %>
    <%= f.input :trimmed_name %>
    <%= f.input :lat %>
    <%= f.input :lng %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
