<p id="notice"><%= notice %></p>

<h1>Regions</h1>

<table>
  <thead>
    <tr>
      <th>M</th>
      <th>Name</th>
      <th>Can signup</th>
      <th>Is public</th>
      <th>Logo</th>
      <th>Trimmed name</th>
      <th>User count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.m_id %></td>
        <td><%= link_to region.name, region %></td>
        <td><%= region.can_signup %></td>
        <td><%= region.is_public %></td>
        <td><%= region.logo %></td>
        <td><%= region.trimmed_name %></td>
        <td><%= region.users.count %></td>
        <td><%= link_to 'Show', region %></td>
        <td><%= link_to 'Edit', edit_region_path(region) %></td>
        <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_region_path %>
