<%= title 'Regions' %>

<h2 class="my-4">Make Works, a global network</h2>

<h4>
We from Make Works are a global network of regions. We ideate, create and make in a distributed yet local way.
</h4>

<div class="border-top-2 my-5"> </div>

<p>
Make Works are making manufacturing accessible. Think of it like a public library. An open resource made by dedicated factory finders where you can discover skilled manufacturers, tools and materials to make work in your area.
</p>

<p class="mb-5">
If you are trying to get in touch with a region specifically, then you can find their details here.
</p>

<div class="row">
  <% @regions.each do |region| %>
    <div class="col-md-6 mb-4">
      <div class="border-top-2 mb-4 py-3">
        <div class="d-flex justify-content-between">
          <h2>
            <%= link_to region.name, region, class: 'text-decoration-none' %>
          </h2>
          <%= link_to region do %>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
            </svg>
          <% end %>
        </div>

        <% if region.avatar.attached? %>
          <%= image_tag region.avatar, class: 'img-fluid' %>
        <% end %>
        <p><%= region.short_description %></p>

      </div>
    </div>
  <% end %>
</div>
