<h1>Regions</h1>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th>About</th>
      <th>Can signup</th>
      <th>Is public</th>
      <th>Logo</th>
      <th>Trimmed name</th>
      <th>User count</th>
      <th>lat</th>
      <th>lng</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= link_to region.name, region %></td>
        <td><%= region.about_text %></td>
        <td><%= region.can_signup %></td>
        <td><%= region.is_public %></td>
        <td><%= region.logo %></td>
        <td><%= region.trimmed_name %></td>
        <td><%= region.users.count %></td>
        <td><%= region.lat %></td>
        <td><%= region.lng %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @regions %>
