<%= title 'Regions' %>

<div class="row">
  <% @regions.each do |region| %>
    <div class="col-md-6 mb-4">
      <div class="border-top-2 mb-4 p-3">
        <div class="d-flex justify-content-between">
          <h2>
            <%= link_to region.name, region %>
          </h2>
          <%= link_to region do %>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
            </svg>
          <% end %>
        </div>

        <p><%= region.about_text %></p>

        <% if admin? %>
          <div class="border p-2 mt-2">
            <p>Admin information</p>
            <ul>
              <li>Companies: <strong><%= region.companies.count %></strong></li>
              <li>Users in region: <strong><%= region.users.count %></strong></li>
              <li>Is Public: <strong><%= region.is_public %></strong></li>
              <li>Can signup: <strong><%= region.can_signup %></strong></li>
              <li>Lat: <%= region.lat %></li>
              <li>Lng: <%= region.lng %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
