<div class="container border border-dark my-5">

  <div class="row border-bottom border-dark">
    <div class="col-md-4 tile-first p-5">
      <h2>About / Region</h2>
      <ul class="list-unstyled">
        <li>
          <%= link_to "About", "#" %>
        </li>
        <li>
          <%= link_to "News", "#" %>
        </li>
        <li>
          <%= link_to "Team", "#" %>
        </li>
        <li>
          <%= link_to "Partners", "#" %>
        </li>
      </ul>

      <p>
      <%= @region.logo %>
      </p>

    </div>
    <div class="col-md-8 text-center p-5">
      <h1>
        <%= @region.name %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 tile-first p-5">
      <h4> Companies in region: <%= @region.companies.count %> </h4>

      <% @region.companies.each do |c| %>
        <%= link_to c.name, c, class: '' %><br/>
      <% end %>
    </div>

    <div class="col-md-8 p-5">
      <h4>Users in region <%= @region.users.count %></h4>
      <% @region.users.order(:created_at).each do |user| %>
        <%= link_to user.name, user, class: '' %>
        <%= user.email %> -
        Admin:<%= user.is_admin? %> -
        Champion:<%= user.is_champion_in_region(Region.friendly.find(params[:id])) %>
      <br>
    <% end %>
    </div>
  </div>

  <%= render 'footer' %>

</div>
