
<% if current_user %>
  <div class="d-flex mt-3">
    <% if current_user&.is_admin? || current_user&.is_champion_in_region(@region) %>
      <%= link_to("Edit", edit_region_url(@region), class: 'btn btn-primary')%>
    <% end %>

    <div class="ml-auto">
      <% if current_user.in_region(@region) %>
        <%= link_to leave_region_url, class: 'btn btn-yellow', data: { confirm: 'Are you sure you want to leave this region?' } do %>
          Leave region
          <% if current_user.is_champion_in_region(@region) %>
            (Champion)
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "Join region", join_region_url, class: 'btn btn-yellow' %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="text-center p-4">
  <%= title @region.name %>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="my-2">
      <h3 id="about">About <%= @region.name %></h3>
      <ul class="list-unstyled">
        <% @region.champions.order(:created_at).each do |item| %>
          <li>
            <%= link_to item.user.name, item.user, class: '' %>
          </li>
        <% end %>
      </ul>
      <%= @region.about_text %>
    </div>

  </div>

  <div class="col-md-6">
    <div class="text-center mb-4">
      <% if @region.logo&.include? 'http' %>
        <%= image_tag(@region.logo, class:'img-fluid', alt: 'Region logo') %>
      <% else %>
        <% if @region&.logo&.present? %>
          <img src="https://static.make.works/logos/<%= @region.logo %>" style="height:100px; width: auto; "/>
        <% end %>
      <% end %>
    </div>

    <% if @region.has_lat_lng? %>
      <%# render partial: 'region_map', locals: { locations: [@region]} %>
    <% end %>

    <% if admin? %>
      <div class="border p-3">
        <p>Admin only information:</p>
        <ul class="list-unstyled">
          <li>Users in region: <%= @region.users.count %></li>
          <li>Is Public: <strong><%= @region.is_public %></strong></li>
          <li>Can signup: <strong><%= @region.can_signup %></strong></li>
          <li>Lat: <%= @region.lat %></li>
          <li>Lng: <%= @region.lng %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>


<div class="my-2">
  <p>Companies in region: <%= @region.companies.count %> </p>
  <%= link_to "Show all companies in #{@region.name}", companies_url('q[region_id_eq]': @region.id), class: 'btn btn-primary mr-3' %>
  <% if @region.can_signup? %>
    <%= link_to "Submit a new company in this region", new_company_url(region_id: @region.id), class: 'btn btn-yellow my-3' %>
  <% end %>
  <% if @region.companies.with_lat_lng.present? %>
    <%= render partial: 'map', locals: { locations: @region.companies.with_lat_lng} %>
  <% end %>
</div>

