<p id="notice"><%= notice %></p>

<p>
  <strong>M:</strong>
  <%= @region.m_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Can signup:</strong>
  <%= @region.can_signup %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @region.is_public %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @region.logo %>
</p>

<p>
  <strong>Trimmed name:</strong>
  <%= @region.trimmed_name %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
