
<% if current_user&.is_admin? || current_user&.is_champion_in_region(@region) %>
  <%= link_to("Edit", edit_region_url(@region), class: 'btn btn-primary mt-3')%>
<% end %>

<div class="text-center p-4">
  <%= title @region.name %>
</div>

<div class="row">
  <div class="col-md-6">
    <% if @region.logo&.include? 'http' %>
      <%= image_tag(@region.logo, class:'img-fluid', alt: 'Region logo') %>
    <% else %>
      <img src="https://static.make.works/logos/<%= @region.logo %>" style="height:160px; width: auto; "/>
    <% end %>

    <div class="my-2">
      <h3 id="about">About <%= @region.name %></h3>
      <%= @region.about_text %>
    </div>

    <% if admin? %>
      <div class="border p-3">
        <p>Admin only information:</p>
        <h4>Users in region: <%= @region.users.count %></h4>
        <h4 id="team">Team (champions):</h4>
        <% @region.champions.order(:created_at).each do |item| %>
          <%= link_to item.user.name, item.user, class: '' %>
          <%= item.user.email %> -
          <br>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="col-md-6">
    <% if @region.has_lat_lng? %>
      <%= render partial: 'region_map', locals: { locations: [@region]} %>
    <% end %>
  </div>

</div>


<div class="my-2">
  <p>Companies in region: <%= @region.companies.count %> </p>
  <% if @region.companies.with_lat_lng.present? %>
    <%= render partial: 'map', locals: { locations: @region.companies.with_lat_lng} %>
  <% end %>
</div>

