<div class="container border border-dark my-5">

  <div class="row border-bottom border-dark">
    <div class="col-md-4 tile-first p-3">
      <h2>About / Region</h2>
      <ul class="list-unstyled">
        <li>
          <%= link_to "About", "#about" %>
        </li>
        <li>
          <%= link_to "News", "#news" %>
        </li>
        <li>
          <%= link_to "Team", "#team" %>
        </li>
        <li>
          <%= link_to "Partners", "#partners" %>
        </li>
      </ul>
      <% if current_user&.is_admin? || current_user&.is_champion_in_region(@region) %>
        <%= link_to("Edit", edit_region_url(@region), class: 'btn btn-primary mt-3')%>
      <% end %>
    </div>
    <div class="col-md-8 text-center p-5">
      <h1>
        <%= @region.name %>
      </h1>

      <h4> Companies in region: <%= @region.companies.count %> </h4>
      <% @region.companies.each do |c| %>
        <%# link_to c.name, c, class: '' %>
      <% end %>

      <h4>Users in region: <%= @region.users.count %></h4>

    </div>
  </div>

  <div class="row border-bottom border-dark">
    <div class="col-md-4 tile-first p-5">
      img <br>
      <%= @region.logo %>
    </div>

    <div class="col-md-8">
      <div class="p-5">
        <h3 id="about">About <%= @region.name %></h3>
        <%= @region.about_text %>
      </div>

      <div class="row border-top border-dark">
        <div class="col-md-4 tile-first p-5 p-md-3">
          <div class="circle bg-white border border-dark d-flex flex-column justify-content-center mb-4 text-center">
            <h4> Event </h4>
          </div>
          <p>Maker Speed Dater is happening</p>
        </div>
        <div class="col-md-4 tile-first p-5 p-md-3">
          <div class="circle bg-white border border-dark d-flex flex-column justify-content-center mb-4 text-center">
            <h4> Listing </h4>
          </div>
          <p>Maker Speed Dater is happening</p>
        </div>
        <div class="col-md-4 p-5 p-md-3">
          <div class="circle bg-white border border-dark d-flex flex-column justify-content-center mb-4 text-center">
            <h4 id="news">News</h4>
          </div>
          <p>Maker Speed Dater is happening</p>
        </div>
      </div>
      <div class="row border-top border-dark">
        <div class="p-5">
          <h4 id="team">Team (champions):</h4>
          <% @region.champions.order(:created_at).each do |item| %>
            <%= link_to item.user.name, item.user, class: '' %>
            <%= item.user.email %> -
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <% if @region.companies_with_lat_lng.present? %>
      <%= render partial: 'map', locals: { locations: @region.companies_with_lat_lng} %>
      <p class="m-3"> Found: <%= @region.companies_with_lat_lng.count %> </p>
    <% end %>
  </div>

  <%= render 'footer' %>

</div>
