
<% if current_user %>
  <div class="d-flex mt-3">
    <% if current_user&.is_admin? || current_user&.is_champion_in_region(@region) %>
      <%= link_to(t('shared.edit_region'), edit_region_url(@region), class: 'btn btn-primary')%>
    <% end %>

    <div class="ms-auto">
      <% if current_user.in_region(@region) %>
        <%= link_to leave_region_url, class: 'btn btn-yellow', data: { confirm: 'Are you sure you want to leave this region?' } do %>
          Leave region
          <% if current_user.is_champion_in_region(@region) %>
            (Champion)
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "Join region", join_region_url, class: 'btn btn-yellow' %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="my-4">
  <%= title @region.name %>
  <% if @region.avatar.attached? %>
    <div class="text-center mb-3">
      <%= image_tag @region.avatar, class: 'img-fluid' %>
    </div>
  <% end %>
</div>

<div class="my-2">
  <%= @region.short_description %>

  <%= @region.about_text %>

  <h2>The team</h2>
  <div class="row">
    <% @region.champions.order(:created_at).each do |item| %>
      <div class="col-md-6">
        <%= image_tag(item.user.avatar, class: 'img-fluid', style: 'max-height:200px;', alt: '', title: item.user) if item.user.avatar.attached? %>

        <h4>
          <%= link_to item.user.name, item.user, class: 'd-block mt-3 text-decoration-none' %>
        </h4>
        <%= item.user.bio %>
      </div>
    <% end %>
  </div>
</div>

<div class="my-2">
  <h2>Partners & Funders</h2>
  <%= @region.partner_text %>

  <% if @region.partner_logos.attached? %>
    <div class="row my-2">
      <% @region.partner_logos.each do |img| %>
        <div class="col-md-3">
          <%= image_tag img, class: 'img-fluid' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<% if @region.has_lat_lng? %>
  <%# render partial: 'region_map', locals: { locations: [@region]} %>
<% end %>

<h2 class="mt-4">Listings</h2>
<div class="my-2">
  <p>Companies in region: <%= @region.companies.count %> </p>
  <%= link_to "See all companies in #{@region.name}", companies_url('q[region_id_eq]': @region.id), class: 'btn btn-primary me-3 my-3' %>
  <% if @region.can_signup? %>
    <%= link_to "Submit a new company in this region", new_company_url(region_id: @region.id), class: 'btn btn-yellow my-3' %>
  <% end %>
  <% if @region.companies.with_lat_lng.present? %>
    <%= render partial: 'map', locals: { locations: @region.companies.with_lat_lng} %>
  <% end %>
</div>

<h2 class="mt-4">Region Updates</h2>

<%= render @region.companies.last if @region.companies.present? %>

<% if admin? %>
  <div class="card-admin">
    <p>Admin only information:</p>
    <ul class="list-unstyled">
      <li>Users in region: <%= @region.users.count %></li>
      <li>Is Public: <strong><%= @region.is_public %></strong></li>
      <li>Can signup: <strong><%= @region.can_signup %></strong></li>
      <li>Lat: <%= @region.lat %></li>
      <li>Lng: <%= @region.lng %></li>
    </ul>
  </div>
<% end %>
