<div class="text-white bg-black2 link-white py-5">
  <div class="container pt-3">
    <footer class="row">
      <div class="col-sm-6 col-md-2 mt-n3 mb-4">
        <%= image_tag('logo_white.svg', class: 'img-fluid', alt: 'MakeWorks footer logo') %>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5 class="font-weight-bold">Make Works Ltd</h5>
        <ul class="list-unstyled">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Legal", legal_path %></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 offset-xl-1">
        <h5 class="font-weight-bold">How it works</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Find a factory", companies_url %></li>
          <li><%= link_to "Submit a maker", new_company_url %></li>
          <li><%= link_to "Glossary", glossary_path %></li>
          <li><%= link_to "FAQ's", faq_path %></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5 class="font-weight-bold">Discover</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Blog", blogs_url %></li>
          <li><%= link_to "All Regions", regions_url %></li>
          <li><%= link_to "All makers", companies_url %></li>
          <li><%= link_to "Roulette", random_url %></li>
        </ul>
      </div>
      <div class="col mx-auto text-center mt-4">
        <p>Stay tuned to the latest</p>
        <form action="https://makeworks.us7.list-manage.com/subscribe/post?u=0eb412ec503ced5bbc65fa031&amp;id=cb81f500cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="required email form-control d-inline w-auto bg-black3 border-0" id="mce-EMAIL" placeholder="Your email address">
          <button class="btn btn-black">Sign up</button>
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_0eb412ec503ced5bbc65fa031_1b7df39765" tabindex="-1" value=""></div>
        </form>
      </div>
      <div class="col mx-auto text-center mt-4">
        <p>Follow Make Works</p>
        <div class="fs-4">
          <a href="https://instagram.com/make_works" target="_blank" ><i class="bi bi-instagram"></i></a>
          <a href="https://twitter.com/thisismakeworks" target="_blank" ><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/pages/Make-Works/427759777266504?fref=ts" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://vimeo.com/makeworks" target="_blank" ><i class="bi bi-vimeo"></i></a>
          <a href="https://giphy.com/channel/makeworks" target="_blank" title="giphy"><i class="bi bi-image"></i></a>
          <a href="https://github.com/fablabbcn/makeworks" target="_blank" title="GitHub"><i class="bi bi-github"></i></a>
        </div>
      </div>
    </footer>
  </div>
</div>
