<div class="container mt-5">
  <footer class="row border-top border-dark pt-4">
    <div class="col-sm-6 col-md-3">
      <h5 class="font-weight-bold">Make Works Ltd</h5>
      <ul class="list-unstyled">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Legal / Glossary", legal_path %></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <h5 class="font-weight-bold">How it works</h5>
      <ul class="list-unstyled">
        <li>Find a factory</li>
        <li>Submit a maker</li>
        <li>Get listed</li>
        <li>FAQ's</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <h5 class="font-weight-bold">Discover</h5>
      <ul class="list-unstyled">
        <li><%= link_to "Blog", blogs_url %></li>
        <li><%= link_to "Regions", regions_url %></li>
        <li>All factories</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <h5 class="font-weight-bold">Support</h5>
      <ul class="list-unstyled">
        <li>Patreon</li>
        <li>Become a member</li>
      </ul>
    </div>
  </footer>
</div>
