<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
  <div class="container-fluid">

    <%= link_to root_url, class: 'navbar-brand' do %>
      <%= image_tag 'favicon.png', style: 'max-height: 35px', alt: 'MakeWorks logo' %>
      <span class="font-weight-bold">
        Make Works
      </span>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%# link_to t("shared.regions"), regions_url,     class: "nav-link mb-3 mb-md-0 me-2 ms-auto btn #{current_page?(regions_url) ? 'btn-primary' : 'btn-outline-primary'}" %>
      <%= link_to t("shared.companies"), companies_url, class: "nav-link mx-2 my-2 my-lg-0 ms-lg-auto btn #{current_page?(companies_url) ? 'btn-primary' : 'btn-blank'}" %>
      <%= link_to "Blog", blogs_url,                    class: "nav-link mx-2 my-2 my-lg-0 btn #{current_page?(blogs_url) ? 'btn-primary' : 'btn-blank'}" %>
      <%= link_to "About", about_url,                   class: "nav-link mx-2 my-2 my-lg-0 btn #{current_page?(about_url) ? 'btn-primary' : 'btn-blank'}" %>

      <!--
        <form class="mx-auto" action="/companies">
        <div class="input-group">
        <input class="form-control " name="q[name_or_description_cont]" type="search" placeholder="Search companies.." aria-label="Search">
        <button class="btn btn-dark input-group-append" type="submit">Search</button>
        </div>
        </form>
      -->

      <% if current_user %>
        <ul class="navbar-nav mx-2">
          <li class="nav-item dropdown">
            <a class="btn btn-outline-primary nav-link dropdown-toggle px-3" href="#" id="navbarUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.is_admin? %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                  <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
              <% end %>
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: 'avatar-small' %>
              <% end %>
              <%= current_user.name %>
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarUser">
              <%= link_to  user_url(current_user), class: "dropdown-item #{'active' if current_page?(edit_profile_url(current_user))}" do %>
                <i class="bi bi-person-circle"></i>
                <%= t("shared.user_settings") %>
              <% end %>

              <% if current_user.is_admin? %>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header">
                  Admin only
                </div>
                <%= link_to "/admin", target: '_blank', class: "dropdown-item" do %>
                  Admin dashboard
                  <i class="bi bi-box-arrow-up-right text-muted"></i>
                <% end %>
                <%= link_to stats_url, class: 'dropdown-item' do %>
                  <i class="bi bi-graph-up text-muted"></i>
                  <%= t("shared.statistics") %>
                <% end %>
                <%= link_to t("shared.processes"), process_taxonomies_url, class: "dropdown-item #{'active' if current_page?(process_taxonomies_url)}" %>
                <%= link_to t("shared.materials"), materials_url, class: "dropdown-item #{'active' if current_page?(materials_url)}" %>
                <%= link_to t("shared.industry"), industry_taxonomies_url, class: "dropdown-item #{'active' if current_page?(industry_taxonomies_url)}" %>
                <%= link_to t("shared.machines"), machines_taxonomies_url, class: "dropdown-item #{'active' if current_page?(machines_taxonomies_url)}" %>
                <%= link_to t("shared.manufacturers"), manufacturer_taxonomies_url, class: "dropdown-item #{'active' if current_page?(manufacturer_taxonomies_url)}" %>
                <%= link_to t("shared.finished_products"), finished_products_taxonomies_url, class: "dropdown-item #{'active' if current_page?(finished_products_taxonomies_url)}" %>
                <div class="dropdown-header">
                  Remove the next 2?
                </div>
                <%= link_to "Taxonomies", taxonomies_url, class: "dropdown-item" %>
                <%= link_to "Media", media_url, class: "dropdown-item" %>
              <% end %>

              <div class="dropdown-divider"></div>

              <%= link_to t('shared.log_out'), destroy_user_session_url, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% else %>
        <%= link_to t('shared.log_in'),    new_user_session_url,      class: 'nav-link mx-2 my-2 my-lg-0 btn btn-blank' %>
        <%= link_to t('shared.join_free'), new_user_registration_url, class: 'nav-link mx-2 my-2 my-lg-0 btn btn-blue' %>
      <% end %>

    </div>
  </div>
</nav>
