<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top" style="border-bottom: 2px solid #222;">
  <%= link_to root_url, class: 'navbar-brand' do %>
    <%= image_tag 'favicon.png', style: 'max-height: 35px', alt: 'MakeWorks logo' %>
    <span class="font-weight-bold">
      MAKE WORKS
    </span>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if current_user&.is_admin? %>
      <ul class="navbar-nav ml-0 ml-lg-5">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Browse by Tags (Admin only)
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to t("shared.processes"), process_taxonomies_url, class: "dropdown-item" %>
            <%= link_to t("shared.materials"), materials_taxonomies_url, class: "dropdown-item" %>
            <%= link_to t("shared.industry"), industry_taxonomies_url, class: "dropdown-item" %>
            <%= link_to t("shared.machines"), machines_taxonomies_url, class: "dropdown-item" %>
            <%= link_to t("shared.manufacturers"), manufacturer_taxonomies_url, class: "dropdown-item" %>
            <%= link_to t("shared.finished_products"), finished_products_taxonomies_url, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">
              SuperAdmin only
            </div>
            <%= link_to "Taxonomies", taxonomies_url, class: "dropdown-item" %>
            <%= link_to "Media", media_url, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% end %>

    <%= link_to t("shared.regions"), regions_url,     class: "nav-link mb-3 mb-md-0 mr-2 ml-auto btn #{current_page?(regions_url) ? 'btn-primary' : 'btn-outline-primary'}" %>
    <%= link_to t("shared.companies"), companies_url, class: "nav-link mb-3 mb-md-0 mr-2 btn #{current_page?(companies_url) ? 'btn-primary' : 'btn-outline-primary'}" %>
    <%= link_to "Blog", blogs_url,          class: "nav-link mb-3 mb-md-0 mr-2 btn #{current_page?(blogs_url) ? 'btn-primary' : 'btn-outline-primary'}" %>

    <!--
    <form class="mx-auto" action="/companies">
      <div class="input-group">
        <input class="form-control " name="q[name_or_description_cont]" type="search" placeholder="Search companies.." aria-label="Search">
        <button class="btn btn-dark input-group-append" type="submit">Search</button>
      </div>
    </form>
    -->

    <% if current_user %>
      <ul class="navbar-nav ml-0 ml-lg-5">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, style: 'height:30px; width:30px; object-fit: cover; border-radius: 50%;' %>
            <% end %>
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUser">
            <%= link_to "User settings", edit_profile_url(current_user), class: "dropdown-item" %>
            <% if current_user.is_admin? %>
              <%= link_to "Admin", "/admin", target: '_blank', class: "dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to t('shared.log_out'), destroy_user_session_url, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-0 ml-lg-5">
        <li class="nav-item dropdown">
          <a class="dropdown-toggle btn btn-primary px-4" href="#" id="not-logged-in" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('shared.log_in') %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="not-logged-in">
            <%= link_to t('shared.log_in'), new_user_session_url, class: 'dropdown-item' %>
            <%= link_to t('shared.create_an_account'), new_user_registration_url, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>

    <% end %>

  </div>
</nav>


