<div class="my-4">
  <%= link_to my_item.class, polymorphic_url(my_item.class) %>
  <% if my_item.parent_id? %>
    <% if my_item.parent.parent_id? %>
      /
      <%= link_to my_item.parent.parent, polymorphic_url(my_item.parent.parent), title: 'Grand Parent' %>
    <% end %>
    /
    <%= link_to my_item.parent, polymorphic_url(my_item.parent), title: 'Parent'  %>
    /
  <% end %>

  <%= title my_item %>

</div>

<% if admin? %>
  <%= link_to 'Edit', edit_polymorphic_url(my_item), class: 'btn btn-primary' %>
<% end %>

<div class="d-flex justify-content-center">
  <%= paginate my_item.companies.verified.not_soft_deleted.page(params[:page]) %>
</div>

<div class="row">
  <%= render my_item
    .companies
    .verified
    .not_soft_deleted
    .page(params[:page])
  %>
</div>
<div class="d-flex justify-content-center">
  <%= paginate my_item.companies.verified.not_soft_deleted.page(params[:page]) %>
</div>
