<!DOCTYPE html>
<html lang="en">

  <%= render 'head' %>

  <body>
    <%= render 'navbar' %>

    <%# flash_messages %>
    <%= render 'flasher' %>

    <div class="container-xxl g-0 py-5">
      <%= yield %>
    </div>

    <%= render 'footer' %>
  </body>
</html>
