<!DOCTYPE html>
<html lang="en">

  <%= render 'head' %>

  <body>
    <%= render 'navbar' %>

    <%= flash_messages %>

    <div class="">
      <%= yield %>
    </div>

    <%= render 'footer' %>
  </body>
</html>
