<!DOCTYPE html>
<html>

  <%= render 'head' %>

  <body>
    <%= render 'navbar' %>

    <%= flash_messages %>

    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= render 'footer' %>

  </body>
</html>
